/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 17. 04. 2017
 Finish Date: 25. 04. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}


/* FONTS */

@font-face {
    font-family: 'DINPro-Black';
    src: url('../fonts/dinpro_font/DINPro-Black/DINPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinpro_font/DINPro-Black/DINPro-Black.otf')  format('opentype'),
    url('../fonts/dinpro_font/DINPro-Black/DINPro-Black.woff') format('woff'),
    url('../fonts/dinpro_font/DINPro-Black/DINPro-Black.ttf')  format('truetype'),
    url('../fonts/dinpro_font/DINPro-Black/DINPro-Black.svg#DINPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/dinpro_font/DINPro-Bold/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinpro_font/DINPro-Bold/DINPro-Bold.otf')  format('opentype'),
    url('../fonts/dinpro_font/DINPro-Bold/DINPro-Bold.woff') format('woff'),
    url('../fonts/dinpro_font/DINPro-Bold/DINPro-Bold.ttf') format('truetype'),
    url('../fonts/dinpro_font/DINPro-Bold/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/dinpro_font/DINPro-Light/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinpro_font/DINPro-Light/DINPro-Light.otf')  format('opentype'),
    url('../fonts/dinpro_font/DINPro-Light/DINPro-Light.woff') format('woff'),
    url('../fonts/dinpro_font/DINPro-Light/DINPro-Light.ttf')  format('truetype'),
    url('../fonts/dinpro_font/DINPro-Light/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/dinpro_font/DINPro-Medium/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinpro_font/DINPro-Medium/DINPro-Medium.otf')  format('opentype'),
    url('../fonts/dinpro_font/DINPro-Medium/DINPro-Medium.woff') format('woff'),
    url('../fonts/dinpro_font/DINPro-Medium/DINPro-Medium.ttf')  format('truetype'),
    url('../fonts/dinpro_font/DINPro-Medium/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* General */
*{
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span{
    display: inline-block !important;
}


/* BUTTNO */
.btn{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #3d8bbd; /* layer fill content */
}

/* Header  LEFT BOX */
.wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
}
.header{
    background: #f6f6f6;
    padding: 13px 0;
}
.header .uk-container-center{
    padding: 0;
}
.header .left-box{
    width: 100%;
}
.header .left-box p{
    float: left;
    margin: 0 30px 0 0;
    font-size: 14px;
}
.header .left-box ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header .left-box ul span{
    width: 10px;
    height: 10px;
    background: #404040;
    margin-top: 5px;
    border-radius: 100px;
    margin-right: 10px;
}
.header .left-box ul li{
    display: inline-block;
    margin: 0 10px;
}
.header .left-box ul li:before,
.header .right-box ul li:before{
    content: url("../images/separator.png");
    position: relative;
    left: -9px;
}
.header .left-box ul li:first-of-type:before,
.header .right-box ul li:first-of-type:before{
    content: "";
}
.header .left-box ul li a{
    font-size: 14px;
    font-family: "DINPro-Black" , sans-serif;
    color: #6a6868;
    text-transform: uppercase;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.header .left-box ul li a:hover{
    text-decoration: none;
    color: #ffde5c;
}

/* HEADER RIGHT BOX */
.header .right-box{
    float: right;
}
.header .right-box ul{
    list-style-type: none;
}
.header .right-box ul span{
    width: 10px;
    height: 10px;
    background: #404040;
    margin-top: 5px;
    border-radius: 100px;
    float: right;
    margin-left: 10px;
}
.header .right-box ul li{
    display: inline-block;
    margin-right: 10px;
}
.header .right-box ul li a{
    font-family: "DINPro-Medium" , sans-serif;
    color: #6a6868;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.header .right-box ul li a:hover{
    text-decoration: none;
    color: #ffde5c;
}


/* HEADER CONTENT */
.header-content{
    padding: 30px 0;
}
.header-content .uk-container-center{
    padding: 0;
}
.header-content .other-box{
    padding-left: 120px;
}
.header-content .other-box .call-box a{
    font-family: "DINPro-Medium" , sans-serif;
    color: #6a6868;
    display: block;
    margin-right: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.header-content .other-box .call-box .link{
    float: right;
    margin-right: 12px;
    padding-top: 5px;
}
.header-content .other-box .adress-box p{
    font-family: "DINPro-Medium" , sans-serif;
    color: #6a6868;
    display: block;
    margin: 0;
}
.header-content .other-box .adress-box .description{
    float: right;
    padding-top: 5px;
}
.header-content .other-box .call-box .img,
.header-content .other-box .adress-box .img,
.header-content .other-box .search-box{
    background: #ffde5c;
    width: 80px;
    height: 45px;
    padding: 9px 0;
    border-radius: 100px;
}
.header-content .other-box .search-box{
    float: right;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.header-content .other-box .search-box:hover{
    background: rgba(255,222,92, .3);
}
.header-content .other-box .call-box .img img,
.header-content .other-box .adress-box .img img,
.header-content .other-box .search-box img{
    display: block;
    margin: 0 auto;
}
.header-content .other-box .call-box a:hover{
    text-decoration: none;
    color: #ffde5c;
}
.header-content .other-box .call-box .uk-width-1-2:first-of-type{
    width: 30%;
}
.header-content .other-box .call-box .uk-width-1-2:last-of-type{
    width: 70%;
}
.header-content .other-box .adress-box .uk-width-1-2:first-of-type{
    width: 30%;
}
.header-content .other-box .adress-box .uk-width-1-2:last-of-type{
    width: 70%;
}
.header-content .other-box .search-box{
    position: relative;
}
.header-content .other-box .search-box:hover .search-input{
    display: block;
}
.header-content .other-box .search-box .search-input{
    position: absolute;
    right: 0;
    top: 0;
    width: 410px;
    background:  #ffde5c;
    border-radius: 100px;
    display: none;
}
.header-content .other-box .search-box .search-input input{
    border: none;
    background: none;
    padding: 14.5px 0 14.5px 12px;
    width: 340px;
}
.header-content .other-box .search-box .search-input button{
    border: none;
    background: none;
}
.header-content .other-box .search-box .search-input button i{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.header-content .other-box .search-box .search-input button i:hover{
    color: #2d7091;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
@media (max-width: 952px){
    .header-content .other-box .search-box .search-input{
        width: 480px;
    }
    .header-content .other-box .search-box .search-input input{
        width: 410px;
    }
}

    /* HEADR-NAVIGATION */
.header-nav{
    position: relative;
}
.header-nav .nav-bg{
    background: url("../images/nav-bg.png");
    -webkit-box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.75);
    z-index: 2;
    position: relative;
}
.mobile{
    position: absolute;
    top: 35px;
    right: 50px;
    display: none;
}
.mobile a{
    font-size: 30px;
    color: #fff;
}
.header-nav .nav-bg .padding-top-bottom{
    padding: 8px 0;
}
.header-nav .uk-width-medium-7-10{
    padding-left: 0;
}
.header-nav .home-link{
    border-right: 1px solid #103352;
    width: 50%;
    padding: 19px 0;
}
.header-nav .nav ul{
    list-style-type: none;
    padding: 19px 0;
    margin: 0;
}
.header-nav .nav ul li{
    position: relative;
}
.header-nav .nav ul > li > .drop-down {
    display: none;
    position: absolute;
    background: url("../images/nav-bg.png");
    width: 200px;
    left: -50px;
    padding: 20px 0 20px 20px;
    z-index: 3;
    text-align: left;
}
.header-nav .nav ul > li > ul li{
    display: block;
    margin: 3px 0;
}
.header-nav .nav ul li{
    display: inline-block;
    margin-left: 35px;
}
.header-nav .nav ul li:first-of-type{
    margin-left: 0;
}
.header-nav .nav ul li a{
    font-family: "DINPro-Medium" , sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.header-nav .nav ul li a i{
    font-size: 10px;
    position: relative;
    top: -2px;
    right: -3px;
}

.header-nav .nav ul li a:hover{
    text-decoration: none;
    color: #ffde5c;
}
.header-nav .socio-link{
    float: right;
    padding: 16px 0;
}
.header-nav .socio-link a{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.header-nav .socio-link a:hover{
    position: relative;
    top: -3px;
    text-decoration: none;
}

/* HOME SLIDER */
.owl-carousel{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.owl-carousel .item img{
    width: 100%;
}
.owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
}
.owl-carousel .owl-nav .owl-prev img,
.owl-carousel .owl-nav .owl-next img{
    float: right;
    margin-left: 5px;
}
.owl-carousel .owl-nav .owl-next img{
    float: left;
    margin-left: 2px
}
.owl-carousel .owl-nav .owl-prev{
    left: -55px;
    position: absolute;
    z-index: 1;
}
.owl-carousel .owl-nav .owl-next{
    right: -55px;
    position: absolute;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    background: #ffde5c;
    width: 90px;
    height: 60px;
    border-radius: 100px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    padding: 21px 20px;
}
.owl-carousel .owl-nav .owl-prev:hover{
    left: -35px;
}
.owl-carousel .owl-nav .owl-next:hover{
    right: -35px;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover{
    background: rgba(255,222,92, .4);
}
.owl-carousel .owl-nav .owl-prev:hover i,
.owl-carousel .owl-nav .owl-next:hover i{
    color: #000;
}
.owl-carousel .owl-dots{
    position: relative;
    top: -40px;
}
.owl-theme .owl-dots .owl-dot span{
    background: transparent;
    border: 2px solid #ffde5c;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #ffde5c;
}
.owl-carousel .caption{
    position: absolute;
    z-index: 2;
    bottom: 120px;
    max-width: 1200px;
    left: calc(20% - 190px);
}
.owl-carousel .caption h3{
    font-size: 27px;
    font-family: "DINPro-Black" , sans-serif;
    color: #fff;
    line-height: 1.1;
    padding-top: 10px;
}
.owl-carousel .caption{
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
}
.owl-carousel .caption .more-btn{
    display: block;
    -moz-border-radius: 29px / 28px;
    -webkit-border-radius: 29px / 28px;
    border-radius: 29px / 28px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffdd5b; /* layer fill content */
    -moz-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    text-align: center;
    max-width: 278px;
    color: #6a6868;
    padding: 22px 70px;
    font-size: 20px;
    font-family: "DINPro-Black" , sans-serif;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    float: right;
}
.owl-carousel .caption .more-btn:hover{
    text-decoration: none;
    background: rgba(255,222,92, .6);
    color: #fff;
}
.owl-carousel .caption .left-box{
    float: left;
    max-width: 70%;
    width: 100%;
}
.owl-carousel .caption .right-box{
    max-width: 30%;
    width: 30%;
}



/* ABOUT THEY */
.about-they .description{
    padding: 60px 0;
}
.about-they .description h4{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 24px;
    color: #6a6868;
}
.about-they .description p{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 14px;
    color: #6a6868;
}
.about-they .description ul{
    list-style-type: none;
    margin-top: 30px;
}
.about-they .description ul li i{
    margin-right: 15px;
    color: #32cf08;
}
.about-they .bx-wrapper img{
    width: 100%;
    height: 340px;
}
.about-they .bx-wrapper .bx-viewport{
    box-shadow: none;
    border: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    left: 0;
    max-height: 340px;
}
.about-they .bx-wrapper .bx-viewport ul{
    padding: 0;
    margin: 0;
}
.about-they .uk-grid .uk-grid .uk-width-1-2{
    padding: 0 0 0 25px;
}
.about-they .info-box .img-box-logo{
    background: #ffde5c;
    position: relative;
}
.about-they .info-box .img-box-logo img{
    max-height: 274px;
    height: 100%;
}
.about-they .info-box .img-box-logo .logo{
    position: absolute;
    z-index: 2;
    top: calc(50% - 50px);
    left: calc(50% - 66px);
}
.about-they .info-box .more-box {
    text-align: center;
}
.about-they .info-box .more-box a {
    font-family: "DINPro-Black", sans-serif;
    font-size: 17px;
    color: #6a6868;
    display: block;
    padding: 23px 0;
    background: #ffde5c;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.about-they .info-box .more-box a:hover{
    text-decoration: none;
    background: rgba(255,255,92, .3);
    color: #fff;
}

/* OUR POSTS */
.our-posts .title-section{
    background: url("../images/Rectangle-9%20copy.png") 0 0 no-repeat;
    padding: 7px 0 0 10px;
    background-size: cover;
}
.our-posts .title-section h4{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.our-posts .mews-post{
    position: relative;
}
.our-posts .date-post{
    position: absolute;
    z-index: 1;
    background: #144066;
    width: 80px;
    height: 80px;
    padding: 12px 0;
}
.our-posts .date-post span{
    color: #fff;
    display: block !important;
    text-align: center;
}
.our-posts .date-post span.date{
    font-family: "DINPro-Black" , sans-serif;
    font-size: 24px;
}
.our-posts .date-post span.month + span.year{
    font-family: "DINPro-Black" , sans-serif;
    font-size: 14px;
}
.our-posts .btn{
    float: right;
    font-family: "DINPro-Black" , sans-serif;
    font-size: 14px;
    color: #144066;
    padding: 12px 27px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffdd5b; /* layer fill content */
    -moz-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-posts .btn:hover{
    background: rgba(255,222,92, .5);
    text-decoration: none;
}
.our-posts .title-post h4 a{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 24px;
    color: #6a6868;
    text-align: left;
    display: block;
    padding: 29px 0 29px 90px;
    background: #ffde5c;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-posts.home .title-post h4 a{
    padding-left: 29px !important; 
}

.our-posts .title-post h4 a:hover{
    text-decoration: none;
    background: rgba(255,222,92, .4);
}
.our-posts .description-post p{
    font-family: "DINPro-Light" , sans-serif;
    font-size: 14px;
    color: #6a6868;
}

/* REQUEST LEFT SIDEBAR */
.request-post .title-section {
    background-size: cover;
}
.request-post .request-box{
    background: #144066;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.request-post .request-box:hover{
    background: rgba(255,222,92, .3);
}
.request-post .request-box:hover .img .description h5 a{
    color: #000;
}
.request-post .request-box .img{
    position: relative;
}
.request-post .request-box .img .description{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.request-post .request-box .img .description h5 a{
    font-family: "DINPro-Black" , sans-serif;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;

}
.request-post .request-box .img .description h5 a:hover{
    text-decoration: none;
}
.recent-popular-post .title-section{
    background-size: cover;
}
.recent-popular-post .popular-post-box{
    background: #f6f6f6;
    padding: 10px;
}
.recent-popular-post .popular-post-box .uk-width-medium-7-10{
    padding-left: 5px;
}
.recent-popular-post .popular-post-box .description h4{
    line-height: 1;
    margin: 0;
}
.recent-popular-post .popular-post-box .description h4 a{
    margin: 0;
    font-family: "DINPro-Black" , sans-serif;
    font-size: 11px;
    color: #144066;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.recent-popular-post .popular-post-box .img img{
    max-height: 70px;
    height: 100%;
}
.recent-popular-post .popular-post-box .description a i{
    font-size: 14px;
    margin-top: 6px;
    color: #144066;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.recent-popular-post .popular-post-box .img{
    background: #ffde5c;
}
.recent-popular-post .popular-post-box .img span{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.recent-popular-post .popular-post-box .img:hover span{
    opacity: .7;
}
.recent-popular-post .popular-post-box .description a:hover span{
    color: #ffcb00;
}
.recent-popular-post .popular-post-box .description a:hover i{
    color: #ffcb00;
}
.recent-popular-post .popular-post-box .description a span{
    font-family: "DINPro-Light" , sans-serif;
    font-size: 14px;
    margin-top: 6px;
    color: #144066;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.recent-popular-post .popular-post-box .description a:hover{
    text-decoration: none;
    color: #ffcb00;
}
.recent-popular-post .popular-post-box .description{
    border-bottom: 1px solid #dedede;
    padding-bottom: 9px;
}
.recent-popular-post .link{
    padding: 20px 0;
    background: #f6f6f6;
}
.recent-popular-post .link a{
    display: block;
    text-align: center;
    font-family: "DINPro-Black" , sans-serif;
    color: #144066;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.recent-popular-post .link a:hover{
    text-decoration: none;
    color: #ffcb00;
}


/* PHOTO AND VIDEO */
.photo-and-video{
    padding-bottom: 20px;
}
.photo-and-video .uk-width-medium-3-10{
    padding-left: 0;
}
.photo-and-video .title-section{
    background-size: 100%;
}
.photo-and-video .button .btn{
    padding: 5px 25px;
}
.photo-and-video .button .btn:hover{
    text-decoration: none;
}
.photo-and-video .photo-galerry-box{
    max-height: 160px;
    height: 100%;
}
.photo-and-video .photo-galerry-box .img-bg{
    background: #144066;
    max-height: 160px;
    position: relative;
}
.photo-and-video .photo-galerry-box .img-bg img{
    height: 100%;
    width: 100%;
    max-height: 160px;
}
.photo-and-video .photo-galerry-box .img-bg .content-box{
    position: absolute;
    top: 50px;
    width: 100%;
    padding-left: 50px;
}
.photo-and-video .photo-galerry-box .img-bg .content-box h5{
    margin: 0 0 5px 0;
}
.photo-and-video .photo-galerry-box .img-bg .content-box h5 a{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 24px;
    color: #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.photo-and-video .photo-galerry-box .img-bg .content-box h5 a:hover{
    text-decoration: none;
    color: #ffde5c;
}
.photo-and-video .photo-galerry-box .img-bg .content-box span a{
    font-family: "DINPro-Light" , sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.photo-and-video .photo-galerry-box .img-bg .content-box span a:hover{
    text-decoration: none;
    color: #ffde5c;
}
.photo-and-video .photo-galerry-box .img-bg .content-box .icon{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    padding-top: 17px;
    margin: 0 auto;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffdd5b; /* layer fill content */
    -moz-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.photo-and-video .photo-galerry-box .img-bg .content-box .icon:hover{
    background: rgba(255,222,92, .6);
}
.photo-and-video .photo-galerry-box .img-bg .content-box .icon img{
    width: 23px;
    height: 23px;
    display: block;
    margin: 0 auto;
}
.photo-and-video .photo-galerry-box.video .img-bg .content-box .icon img{
    margin: 0 auto;
    position: relative;
    left: 4px;
}
.photo-and-video .btn{
    display: block;
    text-align: center;
    float: none;
}


/* FOOTER */
.footer{
    background: url("../images/nav-bg.png") 0 0;
    padding: 35px 0;
}
.footer .copyright p{
    margin: 7px 0;
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 14px;
    color: #a7b3c1;
}
.footer .copyright p span{
    width: 10px;
    height: 10px;
    background: #a7b3c1;
    border-radius: 100px;
    margin: 0 10px;
}
.footer .copyright p a{
    color: #a7b3c1;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.footer .copyright p a:hover{
    text-decoration: none;
    color: #ffde5c;
}
.footer .socio-link{
    float: right;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}
.footer .socio-link a:hover{
    position: relative;
    top: -3px;
}


/* NOUTATI PAGE */
.title-section-big-box{
    padding: 50px 0;
    background: #ffde5c;
    position: relative;
}
.title-section-big-box h3{
    font-family: "DINPro-Black" , sans-serif;
    font-size: 30px;
    color: #444444;
    z-index: 1;
    margin-bottom: 0;
    position: absolute;
    left: calc(50% - 50px);
    top: 24px;
}
.title-section-big-box span{
    z-index: 1;
    font-family: "DINPro-Black" , sans-serif;
    font-size: 55px;
    color: #434343;
    opacity: .1;
    margin-bottom: 0;
}
.news-page{
    padding-bottom: 40px;
}
.pagination{
    margin: 20px auto;        
    border-radius: 100px;
    text-align: center;
}
.pagination a,
.pagination span{
    padding: 15px 18.3px;
    display: block;
    float: left;
    border-right: 1px solid #e8ca54;
    border-left: 1px solid #e8ca54;
    font-family: "DINPro-Medium" , sans-serif;
    color: #4e4c45;
    margin: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    background: #ffde5c;
}
.pagination a.no-border{
    border: none;
}
.pagination a.next,
.pagination a.prev,
.pagination li:last-child a,
.pagination li:first-child a,
.pagination li:last-child span,
.pagination li:first-child span{
    border: none;
}
.pagination a:hover,
.pagination li.active a{
    background: #e8ca54;
    text-decoration: none;
}
.pagination a.prev,
.pagination li:first-child a,
.pagination li:first-child span{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.pagination a.next,
.pagination li:last-child a,
.pagination li:last-child span{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.news-page .link{
    padding: 48px 0;
}

.share-social-icons {
    width: 380px;
    margin: 0 auto; 
}


/* CONTACTS PAGE */
.contacts-page .title h5{
    font-family: "DINPro-Medium" , sans-serif;
    font-size: 24px;
    color: #6a6868;
    margin-top: 25px;
    padding-left: 5px;
}
.contacts-page .description{
    padding: 5px 25px 90px 5px;
}
.contacts-page .form-contacts form label{
    width: 100%;
    display: block;
    margin-bottom: 17px;
}
.contacts-page .form-contacts form label input{
    width: 100%;
    padding: 27px;
    border: none;
    background: #f6f6f6;
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}

.contacts-page .form-contacts form label input::-webkit-input-placeholder {
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}
.contacts-page .form-contacts form label input::-moz-placeholder          {
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}/* Firefox 19+ */
.contacts-page .form-contacts form label input:-moz-placeholder           {
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}/* Firefox 18- */
.contacts-page .form-contacts form label input:-ms-input-placeholder      {
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}
.contacts-page .form-contacts form textarea{
    padding: 27px 0 0 27px;
    height: 163px;
    width: 100%;
    resize: none;
    border: none;
    background: #f6f6f6;
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}
.contacts-page .form-contacts form textarea::-webkit-input-placeholder{
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}
.contacts-page .form-contacts form textarea::-moz-placeholder{
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}/* Firefox 19+ */
.contacts-page .form-contacts form textarea:-moz-placeholder{
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}/* Firefox 18- */
.contacts-page .form-contacts form textarea:-ms-input-placeholder{
    color:#6a6868;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 15px;
}
.contacts-page .form-contacts form .button .btn{
    -moz-border-radius: 29px / 28px;
    -webkit-border-radius: 29px / 28px;
    border-radius: 29px / 28px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffdd5b; /* layer fill content */
    -moz-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    float: none;
    max-width: 280px;
    text-align: center;
    display: block;
    margin: 40px auto 0 auto;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    font-family: "DINPro-Black" , sans-serif;
    font-size: 20px;
    color: #6a6868;
}
.contacts-page .form-contacts form .button .btn:hover{
    text-decoration: none;
    background: rgba(255,222,92, .6);
    color: #000;
}
.maps{
    position: relative;
}
#map{
    width: 100%;
    height: 450px;
}
.contact-info-box{
    max-width: 380px;
    width: 100%;
    background: rgba(255,255,255, .4);
    position: absolute;
    top: 60px;
    padding: 50px 0;
}
.contact-info-box .logo{
    margin-bottom: 30px;
}
.contact-info-box .logo img{
    margin: 0 auto;
    display: block;
}
.contact-info-box .uk-grid .uk-width-1-2{
    padding: 0 20px;
}
.contact-info-box .img{
    width: 76px;
    height: 44px;
    border-radius: 100px;
    background: #ffde5c;
    padding-top: 10px;
    float: right;
}
.contact-info-box .img.padding-top{
    padding-top: 14px;
}
.contact-info-box .img img{
    display: block;
    margin: 0 auto;
}
.contact-info-box .description p{
    margin: 0;
    color: #808080;
    font-size: 14px;
    font-family: "DINPro-Medium" , sans-serif;
}
.contact-info-box .adress-box{
    margin: 20px 0;
}
.contact-info-box .description p:first-of-type{
    margin-top: 3px;
}
.contact-info-box .description p a{
    color: #808080;
    font-size: 14px;
    font-family: "DINPro-Medium" , sans-serif;
}
.contact-info-box .mail-box .description p{
    margin-top: 12px;
}
.contact-info-box .description p a:hover{
    text-decoration: none;
}

/* NOUTATE PAGE */
.noutate ul{
    list-style-type: none;
    padding: 50px ;
}
.noutate ul li{
    margin: 5px 0;
}
.noutate ul li i{
    margin-right: 10px;
    color: #1bdb5b;
}
.noutate .socio-icon{
    max-width: 197px;
    width: 100%;
}
.noutate .socio-icon a img{
    width: 15px;
    position: relative;
    top: -2px;
}
.noutate .socio-icon a i{
    color: #444444;
}
.noutate .socio-icon a:first-of-type{
    border-left: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.noutate .socio-icon a:last-of-type{
    border: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.noutate .socio-icon a{
    padding: 15px 18.5px;
}
.noutate .title-of-socio-icon h4{
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    text-align: center;
    color: #444444;
}
.noutate .link{
    padding: 20px 0;
}





/* ANUNT PAGE */
.anunt .title-post h4{
    margin: 0;
}
.anunt .title-post{
    margin-bottom: 20px;
}
.anunt .bottom-posts .title-post{
    padding: 0;
}
.anunt .bottom-posts .title-post h4 a{
    font-size: 20px;
    margin: 0;
    padding: 18px 0 18px 90px;
    display: block;
    position: relative;
    text-align: left;
    padding-right: 8px;
}


/* PHOTOS PAGE */
.images-post{
    position: relative;
}
.images-post .icon{
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    z-index: 1;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    padding: 21px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffdd5b; /* layer fill content */
    -moz-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    box-shadow: 0 7px 12px rgba(255,222,92,.32); /* drop shadow */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.images-post .icon:hover{
    background: rgba(255,222,92, .6);
}
.images-post a img{
    display: block;
    margin: 0 auto;
}
.images-post a .icon  img{
    margin: 0 auto;
    display: block;
    position: relative;
    width: auto !important;
    height: auto !important;
    left: 2px;
    top: -2px;
}
.images-post .number-photo{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.images-post .number-photo span a{
    color: #fff;
    display: block;
    padding: 10px 25px;
    background-color: #133f65; /* layer fill content */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.images-post .number-photo span a:hover{
    text-decoration: none;
    background: rgba(25,79,127, .6);
    color: #ffde5c;
}
.photos .bottom-posts .title-post h4 a{
    margin: 0 !important;
    position: static;
}
.photos .bottom-posts .images-post a img{
    height: 235px;
    max-height: 235px;
    width: 100%;
}

.photos .bottom-posts .images-post{
    background: #144066;
    max-height: 235px;
    height: 100%;
}

.photos .bottom-posts .top{
    width: 100%;
}

/* PHOTOS MODAL */
.photos-modal{
    background: rgba(20,64,102, .8);
    padding: 50px 0;
    overflow-x: hidden;
}
.uk-modal-dialog{
    width: 100%;
    margin: 0;
    max-width: 100%;
    background: transparent;
    box-shadow: none;
}
.uk-modal-dialog .title-section{
    padding: 30px 0;
    background: #ffde5c;
}
.uk-modal-dialog .title-section h4{
    margin: 0;
    font-family: "DINPro-Bold" , sans-serif;
    font-size: 30px;
    text-align: center;
    color: #6a6868;
}
#slider{
    max-width: 1200px;
    margin: 0 auto;
    border: none;
}
#slider .slides li img{
    height: 550px;
}

/* VIDEOURI PHOTO */
.videouri .images-post .icon{
    padding: 19px 0 0 3px;
}
.uk-container-center{
    padding-right: 45px;
}


.gallery-photo{
    background: rgba(19,63,101, .8);
    padding: 20px 0;
}
.foto_slider{
    margin-bottom: 10px;
}
.foto_slider .slick-track .slick-slide img{
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    height: 460px;
}
.foto_nav .slick-track .slick-slide{
    width: 278px;
    max-width: 278px;
    margin-right: 20px;
}
.foto_nav .slick-track .slick-slide img{
    height: 120px;
    width: 278px;
}
.slick-dots{
    display: none !important;
}
.gallery-photo .title-slide{
    background: #ffde5c;
    padding: 22px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.gallery-photo .title-slide h4{
    margin: 0;
    text-align: center;
    font-family: "DINPro-Bold" , sans-serif;
    font-size: 30px;
    color: #6a6868;
}
.gallery-photo .description-slide{
    padding: 22px 0 22px 40px;
    background: #ffde5c;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.gallery-photo .description-slide p{
    margin: 0;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 24px;
}
.gallery-photo .foto_nav .description-slide{
    padding: 5px;
    background: #ffde5c;
    margin-top: -5px;
}
.gallery-photo .foto_nav .description-slide p{
    margin: 0;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 12px;
    text-align: center;
}
.foto_slider .slick-prev{
    position: absolute;
    z-index: 1;
    background: #ffde5c;
    width: 120px;
    height: 80px;
    border-radius: 100px;
    left: -70px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.slick-prev:before, .slick-next:before{
    color: transparent;
}
.slick-prev:before {
    content: "\2039";
    color: #444;
    font-size: 60px;
    position: relative;
    top: -10px;
    right: -30px;
}
.slick-next:before{
    content: "\203A";
    color: #444;
    font-size: 60px;
    position: relative;
    top: -10px;
    left: -30px;
}
.foto_slider .slick-next{
    position: absolute;
    z-index: 1;
    background: #ffde5c;
    width: 120px;
    height: 80px;
    border-radius: 100px;
    right: -70px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.foto_slider .slick-next:hover{
    right: -50px;
}
.foto_slider .slick-prev:hover{
    left: -50px;
}
.gallery-photo .foto_nav button{
    display: none;
}
.gallery-photo .foto_nav  div{
    position: relative;
    background: #133f65;
}
.gallery-photo .foto_nav  div i{
    position: absolute;
    color: #ffde5c;
    top: calc(50% - 30px);
    left: calc(50% - 10px);
    display: none;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-photo .foto_nav  div span{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-photo .foto_nav  div span:hover{
    opacity: .4;
}
.gallery-photo .foto_nav  div span:hover + i{
    display: block;
}
.gallery-photo .popup-modal-dismiss{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-photo .popup-modal-dismiss:hover{
    color: #ffde5c;
    text-decoration: none;
}


.gallery-video{
    background: rgba(19,63,101, .8);
    padding: 20px 0;
}
.video_slider{
    margin-bottom: 10px;
}
.video_slider .slick-track .slick-slide iframe{
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    height: 460px;
}
.video_nav .slick-track .slick-slide{
    width: 278px;
    max-width: 278px;
    margin-right: 20px;
}
.video_nav .slick-track .slick-slide iframe{
    height: 120px;
    width: 278px;
}
.slick-dots{
    display: none !important;
}
.gallery-video .title-slide{
    background: #ffde5c;
    padding: 22px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.gallery-video .title-slide h4{
    margin: 0;
    text-align: center;
    font-family: "DINPro-Bold" , sans-serif;
    font-size: 30px;
    color: #6a6868;
}
.gallery-video .description-slide{
    padding: 22px 0 22px 40px;
    background: #ffde5c;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.gallery-video .description-slide p{
    margin: 0;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 24px;
}
.gallery-video .video_nav .description-slide{
    padding: 5px;
    background: #ffde5c;
    margin-top: -5px;
}
.gallery-video .video_nav .description-slide p{
    margin: 0;
    font-family: "DINPro-Light" , sans-serif;
    font-size: 12px;
    text-align: center;
}
.video_slider .slick-prev{
    position: absolute;
    z-index: 1;
    background: #ffde5c;
    width: 120px;
    height: 80px;
    border-radius: 100px;
    left: -70px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.slick-prev:before, .slick-next:before{
    color: transparent;
}
.slick-prev:before {
    content: "\2039";
    color: #444;
    font-size: 60px;
    position: relative;
    top: -10px;
    right: -30px;
}
.slick-next:before{
    content: "\203A";
    color: #444;
    font-size: 60px;
    position: relative;
    top: -10px;
    left: -30px;
}
.video_slider .slick-next{
    position: absolute;
    z-index: 1;
    background: #ffde5c;
    width: 120px;
    height: 80px;
    border-radius: 100px;
    right: -70px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.video_slider .slick-next:hover{
    right: -50px;
}
.video_slider .slick-prev:hover{
    left: -50px;
}
.gallery-video .video_nav button{
    display: none !important;
}
.gallery-video .video_nav  div{
    position: relative;
    background: #133f65;
}
.gallery-video .video_nav  div i{
    position: absolute;
    color: #ffde5c;
    top: calc(50% - 30px);
    left: calc(50% - 10px);
    display: none;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-video .video_nav  div span{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-video .video_nav  div span:hover{
    opacity: .4;
}
.gallery-video .video_nav  div span:hover + i{
    display: block;
}
.gallery-video .popup-modal-dismiss2{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.gallery-video .popup-modal-dismiss2:hover{
    color: #ffde5c;
    text-decoration: none;
}
.photos .bottom-posts .title-post h4 a{
    text-align: center;
}




/* MEDIA QUERY */
@media(max-width: 1290px){
    .header-content .uk-width-medium-3-10{
        width: 100%;
        margin-bottom: 20px;
    }
    .header-content .uk-width-medium-7-10{
        width: 100%;
    }
    .owl-carousel .caption .uk-grid .uk-width-medium-7-10{
        width: 100%;
    }
    .header-content .other-box{
        padding-left: 30px;
    }
    .header-content .other-box .call-box .link{
        float: none;
    }
    .header-content .logo{
        margin-bottom: 30px;
    }
    .header-content .logo a img{
        display: block;
        margin: 0 auto;
        position: relative;
    }
    .header-nav .home-link{
        border: none;
    }
    .header-nav .socio-link{
        float: none;
        max-width: 117px;
        margin: 0 auto;
        padding: 30px 0;
    }
    .header-nav .uk-width-medium-7-10{
        width: 90%;
    }
    .header-nav .uk-width-medium-2-10{
        width: 100%;
    }
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10{
        width: 96%;
    }
    .owl-carousel .caption h3{
        padding: 0 20px;
    }
    .owl-carousel .caption .more-btn{
        float: none;
        margin: 0 auto;
        margin-top: 30px;
    }
    .owl-carousel .caption{
        left: 50%;
        margin-left: -580px;
    }
    .header-nav .nav ul{
        text-align: center;
    }
}
@media (max-width: 1220px){
    .our-posts  .uk-grid  .uk-grid .uk-width-medium-7-10{
        width: 100%;
    }
    .our-posts .uk-grid .uk-grid .uk-width-medium-3-10{
        margin: 10px auto;
        width: 40%;
    }
    .our-posts .recent-popular-post .popular-post-box .uk-grid .uk-width-medium-7-10{
        width: 70%;
    }
    .our-posts .recent-popular-post .popular-post-box .uk-grid .uk-width-medium-3-10{
        width: 30%;
    }
    .our-posts .uk-container-center{
        width: 100%;
        max-width: 100%;
    }
    .gallery-video .video_nav  div{
        display: none;
    }
}
@media(max-width: 1210px){
    .owl-carousel .caption{
        max-width: 700px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        margin-left: -340px;
    }
    .about-they .uk-container-center{
        width: 100%;
        max-width: 100%;
    }
    .anunt .title-post h4 a{
        text-align: right;
        padding-right: 20px;
        font-size: 20px;
    }
}
@media(max-width: 1080px){
    .owl-carousel .caption{
        margin-left: -340px;
    }
    .about-they .uk-width-1-2{
        width: 100%;
    }
    .about-they .bx-wrapper .bx-viewport{
        margin-bottom: 30px;
    }
    .about-they .info-box .img-box-logo img{
        width: 100%;
    }
    .about-they .info-box{
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .anunt .bottom-posts .title-post h4 a{
        font-size: 18px;
    }
}
@media(max-width: 1025px){
    .anunt .bottom-posts .title-post h4 a{
        font-size: 21px;
        padding: 29px 0;
    }
    .our-posts .bottom-posts .uk-width-1-2{
        width: 100%;
    }
}
@media (max-width: 1010px){
    .header-content .other-box .search-box{
        float: none;
        position: relative;
        left: 30px;
    }
    .header{
        padding: 13px 20px;
    }
    .recent-popular-post .popular-post-box .description{
        margin-top: 5px;
    }

}
@media(max-width: 965px){
    .anunt .bottom-posts .title-post h4 a{
        font-size: 18px;
        padding: 29px 10px;
    }
    .anunt .title-post h4 a{
        text-align: right;
        padding-right: 10px;
        font-size: 18px;
    }
}
@media (max-width: 890px){
    .our-posts .uk-grid .uk-width-medium-7-10{
        width: 100%;
    }
    .our-posts .uk-grid .uk-width-medium-3-10{
        width: 100%;
    }
    .our-posts .uk-grid .uk-grid .uk-width-medium-3-10{
        width: 100%;
    }
    .our-posts .button{
        padding: 12px 23px;
        float: none;
        margin: 0 auto !important;
        max-width: 250px;
    }
    .request-post .request-box .img a img{
        width: 100%;
    }
    .recent-popular-post .popular-post-box .img img{
        width: 100%;
        max-height: 100%;
    }
    .recent-popular-post .popular-post-box{
        width: 70%;
        margin: 0 auto;
    }
    .recent-popular-post .link{
        width: 70%;
        margin: 0 auto;
    }
    .recent-popular-post{
        margin-bottom: 20px !important;
    }
    .photo-and-video .uk-width-1-2{
        width: 100%;
    }
    .our-posts .photo-and-video .uk-grid .uk-width-medium-3-10{
        width: 50% !important;
    }
    .our-posts .photo-and-video .btn{
        margin: 0 auto;
        margin-left: 30px;
    }
    .our-posts .photo-and-video .uk-width-1-1 .button{
        display: none;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box{
        top: 20px;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box .uk-width-1-2{
        width: 50%;
    }


}
@media (max-width: 870px){
    .header-nav .uk-width-1-10{
        display: none;
    }
    .header-nav .uk-width-medium-7-10{
        width: 100%;
    }
    .our-posts .title-post h4 a{
        font-size: 16px;
        text-align: center;
    }
}
@media(max-width: 820px) {
    .header-nav .nav ul li{
        margin-left: 20px;
    }
    .header .uk-width-1-2{
        width: 100%;
    }
    .header .right-box{
        float: none;
        max-width: 400px;
        margin: 0 auto;
    }
    .header .left-box{
        max-width: 250px;
        margin: 10px auto;
    }
    .uk-container-center{
        width: 100%;
        max-width: 100%;
    }
    .gallery-photo .foto_nav .description-slide{
        display: none;
    }
    .gallery-photo .foto_nav  div{
        display: none;
    }
    .slick-initialized .slick-slide{
        margin-top: 65px;
    }
    .gallery-photo .foto_nav  div i{
        top: 50%;
        margin-top: -10px;
        left: 50%;
        margin-left: -10px;
    }
    .gallery-photo .foto_nav .slick-track .slick-slide img{
        height: 80px;
    }
    .gallery-photo .foto_nav{
        height: 80px;
        background: transparent;
    }

    .gallery-photo .foto_nav  div{
        background: transparent;
        display: none !important;
    }

    .gallery-photo .foto_slider .slick-track .slick-slide img{
        height: 270px;
    }

}
@media(max-width: 773px){
    .header-content{
        display: none;
    }
    .header-nav .socio-link{
        position: relative;
        left: 10px;
    }
    .header-nav .nav{
        padding-left: 25px;
    }
    .owl-carousel .caption .uk-grid .uk-width-medium-7-10{
        display: none;
    }
    .owl-carousel .caption .more-btn{
        margin-top: 0;
    }
    .owl-carousel .owl-nav{
        top: 40%;
    }
    .our-posts.anunt .title-post h4 a{
        font-size: 18px;
        text-align: right;
        padding-right: 20px;
    }
}
@media (max-width: 735px){
    .header-nav .nav ul{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media(max-width: 715px){
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10{
        width: 100%;
        margin: 0 auto;
        padding-left: 30px;
    }

}
@media (max-width: 670px){
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10{
        width: 100%;
        margin: 0 auto;
        padding-left: 100px;
    }
    .owl-carousel .owl-dots{
        display: none;
    }
    .our-posts .uk-width-medium-7-10 .uk-width-1-2{
        width: 100%;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box h5 a{
        font-size: 14px;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box span a{
        font-size: 16px;
    }
    .our-posts .title-post{
        margin-top: -2px;
    }
    .our-posts .uk-grid{
        margin-left: -15px;
    }
    .about-they .uk-grid{
        margin-left: -15px;
    }
    .our-posts .uk-grid .uk-width-1-2{
        padding-left: 15px !important;
    }
    .anunt .bottom-posts .title-post h4 a{
        font-size: 15px;
        padding: 29px 10px;
    }
    .our-posts.anunt .date-post{
        display: none;
    }
    .our-posts.anunt .title-post h4 a{
        text-align: center;
        padding-right: 0;
    }
}
@media(max-width: 590px){
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10{
        width: 100%;
        margin: 0 auto;
        padding-left: 130px;
    }
    .recent-popular-post .popular-post-box{
        width: 100%;
        margin: 0 auto;
    }
    .recent-popular-post .link{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 560px){
    .anunt .bottom-posts .title-post h4 a{
        font-size: 12px;
        padding: 29px 10px;
    }
}
@media(max-width: 550px){
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10{
        width: 100%;
        margin: 0 auto;
        padding-left: 180px;
    }
    .our-posts .button{
        padding: 12px 0;
        max-width: 100%;
        width: 100%;
    }
    .our-posts .button .btn{
        margin-left: 15px;
        text-align: center;
    }
    .our-posts .photo-and-video .uk-grid .uk-width-medium-3-10{
        width: 80% !important;
    }
    .our-posts .button a{
        display: block;
        width: 100%;
        padding: 12px 0;
    }
    .contact-info-box{
        max-width: 305px;
        left: 50%;
        margin-left: -152.5px;
    }
}
@media(max-width: 500px){
    .owl-carousel .caption .uk-grid .uk-width-medium-3-10 {
        display: none;
    }
    .footer .uk-width-1-2{
        width: 100%;
    }
    .footer .copyright p{
        text-align: center;
        margin: 10px 0;
    }
    .footer .socio-link{
        float: none;
        margin: 10px auto;
        max-width: 117px;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box{
        margin-top: -15px;
    }
    .photo-and-video .photo-galerry-box .img-bg .content-box .icon{
        margin-top: 7px;
    }
    .footer .uk-grid{
        margin: 0;
    }
    .header-nav .nav-bg .padding-top-bottom{
        margin-left: -5px;
    }
    .our-posts .title-section h4{
        font-size: 20px;
    }
    .our-posts .date-post{
        display: none;
    }
    .anunt .bottom-posts .title-post h4 a{
        text-align: center;
        font-size: 18px;
    }
}
@media (max-width: 420px){
    .header .left-box p{
        display: block;
        float: none;
        text-align: center;
        margin: 5px 0;
    }
    .header .left-box ul{
        text-align: center;
    }
    .header .right-box ul{
        padding: 0 0 0 5px;
    }
    .header .right-box ul li span{
        display: none !important;
    }
    .header .right-box ul li{
        display: block;
        text-align: center;
        margin: 5px 0;
    }
}



/* UK OFFCANVAS MENU */

.uk-offcanvas-bar .logo img{
    display: block;
    margin: 50px auto;
}

.uk-offcanvas-bar ul{
    list-style-type: none;
}
.uk-offcanvas-bar ul ul{
    display: none;
}
.uk-offcanvas-bar ul li{
    margin: 15px 0;
}
.uk-offcanvas-bar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.uk-offcanvas-bar ul li a i{
    float: right;
    margin-right: 30px;
}
.uk-offcanvas-bar ul li a:hover{
    color: #ffde5c;
    text-decoration: none;
}
.uk-offcanvas-bar .search-input{
    background: #ffde5c;
    max-width: 200px;
    margin: 50px auto;
    border-radius: 100px;
    padding: 12px 10px;
}
.uk-offcanvas-bar .search-input form input{
    background: none;
    border: none;
}
.uk-offcanvas-bar .search-input form button{
    background: none;
    border: none;
}
.uk-offcanvas-bar .search-input form button i{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.uk-offcanvas-bar .search-input form button i:hover{
    color: #3d8bbd;
}





