/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 7. 04. 2017
 Finish Date: 13. 04. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}


/* FONTS */

@font-face {
    font-family: 'Bold';
    src: url('../fonts/FuturaPT-Bold/FuturaPT-Bold.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-Bold/FuturaPT-Bold.otf')
    format('opentype'),
    url('../fonts/FuturaPT-Bold/FuturaPT-Bold.woff')
    format('woff'),
    url('../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-Bold/FuturaPT-Bold.svg#FuturaPT-Bold')
    format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/FuturaPT-Light/FuturaPT-Light.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-Light/FuturaPT-Light.otf')
    format('opentype'),
    url('../fonts/FuturaPT-Light/FuturaPT-Light.woff')
    format('woff'),
    url('../fonts/FuturaPT-Light/FuturaPT-Light.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-Light/FuturaPT-Light.svg#FuturaPT-Light')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('../fonts/FuturaPT-Medium/FuturaPT-Medium.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-Medium/FuturaPT-Medium.otf')
    format('opentype'),
    url('../fonts/FuturaPT-Medium/FuturaPT-Medium.woff')
    format('woff'),
    url('../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-Medium/FuturaPT-Medium.svg#FuturaPT-Medium')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Book';
    src: url('../fonts/FuturaPT-BookObl/FuturaPT-BookObl.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-BookObl/FuturaPT-BookObl.otf')
    format('opentype'),
    url('../fonts/FuturaPT-BookObl/FuturaPT-BookObl.woff')
    format('woff'),
    url('../fonts/FuturaPT-BookObl/FuturaPT-BookObl.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-BookObl/FuturaPT-BookObl.svg#FuturaPT-BookObl')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavy';
    src: url('../fonts/FuturaPT-Heavy/FuturaPT-Heavy.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-Heavy/FuturaPT-Heavy.otf')
    format('opentype'),
    url('../fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff')
    format('woff'),
    url('../fonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-Heavy/FuturaPT-Heavy.svg#FuturaPT-Heavy')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Demi';
    src: url('../fonts/FuturaPT-Demi/FuturaPT-Demi.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/FuturaPT-Demi/FuturaPT-Demi.otf')
    format('opentype'),
    url('../fonts/FuturaPT-Demi/FuturaPT-Demi.woff')
    format('woff'),
    url('../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf')
    format('truetype'),
    url('../fonts/FuturaPT-Demi/FuturaPT-Demi.svg#FuturaPT-Demi')
    format('svg');
    font-weight: normal;
    font-style: normal;
}





/* General */
*{
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span{
    display: inline-block !important;
}
/* Links */
a, a:visited {
    color: #036AD2;
    text-decoration: none;
}



/* START PROIECT POPUP */
.uk-close:after{
    color: #333;
    content: "";
}
.uk-close{
    color: #333;
    opacity: 1;
    width: 30px;
    font-size: 30px;
    height: 30px;
    top: 20px;
    position: relative;
    right: 20px;
}
.uk-open .uk-modal-dialog{
    max-width: 580px;
    background: #fff;
    position: relative;
}
.uk-open .uk-modal-dialog .form form label{
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.uk-open .uk-modal-dialog .form form label.no-pointer{
    cursor: auto;
}
.uk-open .uk-modal-dialog .form form .title{
    max-width: 470px;
    margin: 0 auto;
}
.uk-open .uk-modal-dialog .form form .title h4{
    font-size: 30px;
    color: #333;
    margin-bottom: 45px;
    font-family: "Medium", sans-serif;
}
.uk-open .uk-modal-dialog .form form label input , textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    color: #333 !important;
    font-family: "Medium", sans-serif;
    font-size: 16px;
}
.uk-open .uk-modal-dialog .form form label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label input::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label input:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label input:-moz-placeholder { /* Firefox 18- */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label textarea::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label textarea:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}
.uk-open .uk-modal-dialog .form form label textarea:-moz-placeholder { /* Firefox 18- */
    color: #333;
}
.uk-open .uk-modal-dialog .form form .custom-file-input[type="file"]{
    visibility: hidden;
    width: 100%;
}
.uk-open .uk-modal-dialog .form form label{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.uk-open .uk-modal-dialog .form form .upload p{
    color: #333;
    position: absolute;
    top: -10px;
    left: 50px;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.uk-open .uk-modal-dialog .form form .upload:hover > p{
    border-color: #3d8bbd;
}
.uk-open .uk-modal-dialog .form form .upload:hover > i{
    color: #3d8bbd;
}
.uk-open .uk-modal-dialog .form form label i{
    color: #333;
    font-size: 30px;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.uk-open .uk-modal-dialog .form form{
    margin-top: 7%;
}
.uk-open .uk-modal-dialog .form form input[type="text"]{
    border-bottom: 1px solid #333;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.uk-open .uk-modal-dialog .form form input[type="text"]:focus{
    border-color: #3498db;
}
.uk-open .uk-modal-dialog .form form label textarea{
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    height: 110px;
    padding: 90px 0 0 0;
    color: #333 !important;
}
.uk-open .uk-modal-dialog .form form label textarea:focus{
    color: #333;
    padding: 10px 0 0 0 ;
}

.uk-open .uk-modal-dialog .form form label textarea:focus + span{
    border-color: #3498db;
}
.uk-open .uk-modal-dialog .form form label{
    position: relative;
}
.uk-open .uk-modal-dialog .form form label span{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #333;
    margin-top: 0;
    position: absolute;
    display: block !important;
}
.uk-open .uk-modal-dialog .form form button{
    padding: 12px 66px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 100px;
}
.uk-open .uk-modal-dialog .form form button:hover{
    border-color: #333;
}
.uk-open .uk-modal-dialog .form a{
    color: #333;
    font-size: 16px;
    font-family: "Light" , sans-serif;
    text-align: center;
    display: inline-block;
}


/* MODAL MENU */

.modal-menu{
    background: url("../images/Layer-1-1.png") 0 0 no-repeat, rgba(68,68,68, .9);
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.modal-menu .hover-bg:hover + .hover-bg2{
    opacity: .1;
}
.modal-menu .hover-bg2{
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.mfp-container{
    padding: 0;
}
.modal-menu .popup-modal-dismiss{
    background: #fff;
    width: 100%;
    height: 95px;
    font-size: 30px;
    text-align: center;
    padding-top: 34px;
    color: #036AD2;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    z-index: 999;
    display: block;
}
.modal-menu .close{
    width: 100%;
}
.modal-menu .popup-modal-dismiss:hover{
    text-decoration: none;
    color: #444;
    background: rgba(255,255,255, .7);
}
.modal-menu .left-bar{
    background: rgba(68,68,68, .2);
    width: 95px;
    float: left;
    clear: both;
    height: 100vh;
}
.modal-menu .left-bar .socio-bar{
    position: absolute;
    bottom: 0;
    padding: 0 21px;
}
.modal-menu .left-bar .socio-bar a{
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    border: 3px solid transparent;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu .left-bar .socio-bar a.facebook{
    padding: 8px 0;
}
.modal-menu .left-bar .socio-bar a.instagram{
    padding: 7px 0;
}
.modal-menu .left-bar .socio-bar a.youtube{
    padding: 7px 0;
}
.modal-menu .left-bar .socio-bar a:hover{
    border-color: #3d8bbd;
    color: #3d8bbd;
    background: #fff;
    border-radius: 50%;
}
.modal-menu .uk-grid{
    margin-left: 0;
}
.modal-menu .uk-width-1-2{
    padding: 0;
}
.modal-menu .boxes .parent-box .box1 ul,
.modal-menu .boxes .parent-box2 .box2 ul,
.modal-menu .boxes .parent-box3 .box3 ul,
.modal-menu .boxes .parent-box4 .box4 ul,
.modal-menu .boxes .parent-box5 .box5 ul,
.modal-menu .boxes .parent-box6 .box6 ul{
    display: none;
}
.modal-menu .boxes .parent-box .box1,
.modal-menu .boxes .parent-box2 .box2,
.modal-menu .boxes .parent-box3 .box3,
.modal-menu .boxes .parent-box4 .box4,
.modal-menu .boxes .parent-box5 .box5,
.modal-menu .boxes .parent-box6 .box6{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.modal-menu .boxes .parent-box .box1:hover,
.modal-menu .boxes .parent-box2 .box2:hover,
.modal-menu .boxes .parent-box3 .box3:hover,
.modal-menu .boxes .parent-box4 .box4:hover,
.modal-menu .boxes .parent-box5 .box5:hover,
.modal-menu .boxes .parent-box6 .box6:hover{
    padding-top: 10%;
}

.modal-menu .boxes .box1{
    background: #3498db;
    z-index: 999;
}
.modal-menu .boxes .parent-box .box1:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box:hover > .box1{
    background: rgba(52, 152, 219, .5);
}
.modal-menu .boxes .parent-box2 .box2:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box2:hover > .box2{
    background:  rgba(41, 128, 185, .5);
}
.modal-menu .boxes .parent-box3 .box3:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box3:hover > .box3{
    background: rgba(26, 188, 156, .5);
}
.modal-menu .boxes .parent-box4 .box4:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box4:hover > .box4{
    background: rgba(22, 160, 133, .5);
}
.modal-menu .boxes .parent-box5 .box5:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box5 :hover > .box5{
    background: rgba(52, 73, 94, .5);
}
.modal-menu .boxes .parent-box6 .box6:hover > ul{
    display: block;
}
.modal-menu .boxes .parent-box6:hover > .box6{
    background: rgba(44, 62, 80, .5);
}
/*
.modal-menu .test1:hover + .test2{
    left: 50% !important;
    position: relative;
}
*/
.modal-menu .boxes .box2{
    background: #2980b9;
    z-index: 999;
}
.modal-menu .boxes .box3{
    background: #1abc9c;
    z-index: 999;
}
.modal-menu .boxes .box4{
    background: #16a085;
    z-index: 999;
}
.modal-menu .boxes .box5{
    background: #34495e;
    z-index: 999;
}
.modal-menu .boxes .box6{
    background: #2c3e50;
    z-index: 999;
}
.modal-menu .boxes .menu-box{
    height: 33.3vh;
    position: relative;
    padding-top: 35%;
}
.modal-menu .boxes .menu-box a{
    text-align: center;
    color: #fff;
    font-family: "Heavy" , sans-serif;
    font-size: 30px;
    display: block;
}
.modal-menu .boxes .parent-box,
.modal-menu .boxes .parent-box2,
.modal-menu .boxes .parent-box3,
.modal-menu .boxes .parent-box4,
.modal-menu .boxes .parent-box5,
.modal-menu .boxes .parent-box6{
    position: relative;
}
.modal-menu .boxes .parent-box  ul,
.modal-menu .boxes .parent-box2  ul,
.modal-menu .boxes .parent-box3  ul,
.modal-menu .boxes .parent-box4  ul,
.modal-menu .boxes .parent-box5  ul,
.modal-menu .boxes .parent-box6  ul{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 10% 0;
    padding-bottom: 0;
}
.modal-menu .boxes .parent-box ul li a,
.modal-menu .boxes .parent-box2 ul li a,
.modal-menu .boxes .parent-box3 ul li a,
.modal-menu .boxes .parent-box4 ul li a,
.modal-menu .boxes .parent-box5 ul li a,
.modal-menu .boxes .parent-box6 ul li a{
    font-size: 20px;
    font-family: "Medium" , sans-serif;
    color: #fff;
    margin: 5px 0;
}
.modal-menu .boxes .parent-box .box1 ul  .bubble-right,
.modal-menu .boxes .parent-box2 .box2 ul .bubble-right,
.modal-menu .boxes .parent-box3 .box3 ul .bubble-right,
.modal-menu .boxes .parent-box4 .box4 ul .bubble-right,
.modal-menu .boxes .parent-box5 .box5 ul .bubble-right,
.modal-menu .boxes .parent-box6 .box6 ul .bubble-right{
    display: block;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.modal-menu .boxes .parent-box .box1 .bubble-right:before,
.modal-menu .boxes .parent-box2 .box2 .bubble-right:before,
.modal-menu .boxes .parent-box3 .box3 .bubble-right:before,
.modal-menu .boxes .parent-box4 .box4 .bubble-right:before,
.modal-menu .boxes .parent-box5 .box5 .bubble-right:before,
.modal-menu .boxes .parent-box6 .box6 .bubble-right:before{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: right;
    -moz-transition-property: right;
    -ms-transition-property: right;
    -o-transition-property: right;
    transition-property: right;
    left: 0;
    top: calc(50% - 10px);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #3498db;
    display: none;
}
.modal-menu .boxes .parent-box2 .sub-box-menu2 .bubble-right:before{
    border-color: transparent transparent transparent #2980b9;
}
.modal-menu .boxes .parent-box3 .sub-box-menu3 .bubble-right:before{
    border-color: transparent transparent transparent #1abc9c;
}
.modal-menu .boxes .parent-box4 .sub-box-menu4 .bubble-right:before{
    border-color: transparent transparent transparent #16a085;
}
.modal-menu .boxes .parent-box5 .sub-box-menu5 .bubble-right:before{
    border-color: transparent transparent transparent #34495e;
}
.modal-menu .boxes .parent-box6 .sub-box-menu6 .bubble-right:before{
    border-color: transparent transparent transparent #2c3e50;
}
.modal-menu .boxes .menu-box ul li a{
    margin: 10px auto;
    display: block;
    max-width: 100px;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}
.modal-menu .boxes .menu-box ul{
    padding-top: 10px;
}
.modal-menu .boxes .menu-box ul a:hover{
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255, .4);
}
.modal-menu .boxes .menu-box a{
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}
.modal-menu .boxes .menu-box a{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu .boxes .menu-box a:hover{
    color: #e8e8e8;
    text-decoration: none;
}
.modal-menu .form form label{
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.modal-menu .form form .title{
    max-width: 470px;
    margin: 0 auto;
}
.modal-menu .form form .title h4{
    font-size: 30px;
    color: #fff;
    margin-bottom: 45px;
    font-family: "Medium", sans-serif;
}
.modal-menu .form form label input , textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    color: #fff !important;
    font-family: "Medium", sans-serif;
    font-size: 16px;
}
.modal-menu .form form label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.modal-menu .form form label input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.modal-menu .form form label input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.modal-menu .form form label input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.modal-menu .form form label textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.modal-menu .form form label textarea::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.modal-menu .form form label textarea:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.modal-menu .form form label textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.modal-menu .form form .custom-file-input[type="file"]{
    visibility: hidden;
    width: 100%;
}
.modal-menu .form form label{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.modal-menu .form form .upload p{
    color: #fff;
    position: absolute;
    top: -10px;
    left: 50px;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu .form form .upload:hover > p{
    border-color: #3d8bbd;
}
.modal-menu .form form .upload:hover > i{
    color: #3d8bbd;
}
.modal-menu .form form label i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu .form form{
    margin-top: 15px;
}
.modal-menu .form form input[type="text"]{
    border-bottom: 1px solid #fff;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.modal-menu .form form input[type="text"]:focus{
    border-color: #3498db;
}
.modal-menu .form form label textarea{
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    height: 110px;
    padding: 90px 0 0 0;
}
.modal-menu .form form label textarea:focus{
    color: #fff;
    padding: 10px 0 0 0 ;
}

.modal-menu .form form label textarea:focus + span{
    border-color: #3498db;
}
.modal-menu .form form label{
    position: relative;
}
.modal-menu .form form label span{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #fff;
    margin-top: 0;
    position: absolute;
    display: block !important;
}
.modal-menu .form form button{
    padding: 12px 66px;
    margin: 50px auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.modal-menu .form form button:hover{
    border-color: #fff;
}
.modal-menu .form a{
    color: #fff;
    font-size: 16px;
    font-family: "Light" , sans-serif;
    text-align: center;
    display: inline-block;
}
.modal-menu a span{
    font-family: "Bold", sans-serif;
    font-size: 24px;
}
.modal-menu a.call{
    padding: 12px 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 24px;
}
.modal-menu .contacts-box{
    max-width: 470px;
    margin: 0 auto;
}
.modal-menu a.adress{
    text-align: left;
    margin-left: 15px;
}
.modal-menu a.mail{
    margin-left: 15px;
}
.modal-menu a.mail:hover , .modal-menu a.adress{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu a.mail:hover , .modal-menu a.adress:hover{
    text-decoration: none;
    color: #3d8bbd;
}
.modal-menu .copyright p{
    color: #fff;
}
.modal-menu .copyright p a{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.modal-menu .copyright p a:hover{
    text-decoration: none;
    color: #3d8bbd;
}
.modal-menu .copyright{
    margin-top: 90px;
}
.modal-menu a.all-contact{
    float: right;
    margin-top: 13px;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.modal-menu a.all-contact:hover{
    border-color: #3498db;
}
.modal-menu a.call:hover{
    border-color: #3498db;
}
.modal-menu .form a:hover{
    text-decoration: none;
}
.modal-menu .menu-box .btn-more{
    background: red;
    padding: 13px 0;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    color: #fff;
    background: rgba(255,255,255, 0);
    border: 1px solid #fff;
    border-radius: 100px;
    display: none !important;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    z-index: 1;
}
.modal-menu .menu-box .btn-more:hover{
    border-color: #3d8bbd;
}
.modal-menu .boxes .parent-box  .box1:hover ul,
.modal-menu .boxes .parent-box2 .box2:hover ul,
.modal-menu .boxes .parent-box3 .box3:hover ul,
.modal-menu .boxes .parent-box4 .box4:hover ul,
.modal-menu .boxes .parent-box5 .box5:hover ul,
.modal-menu .boxes .parent-box6 .box6:hover ul{
    display: block;
}
.modal-menu .boxes .parent-box .menu-box .toggle-bottom1,
.modal-menu .boxes .parent-box2 .menu-box .toggle-bottom2,
.modal-menu .boxes .parent-box3 .menu-box .toggle-bottom3,
.modal-menu .boxes .parent-box4 .menu-box .toggle-bottom4,
.modal-menu .boxes .parent-box5 .menu-box .toggle-bottom5,
.modal-menu .boxes .parent-box6 .menu-box .toggle-bottom6{
    position: absolute;
    right: 50px;
    top: 80px;
    display: none;
    z-index: 9999;
}
@media (max-width: 1380px) {
    .modal-menu .boxes .menu-box{
        padding-top: 45%;
    }
}
@media (max-width: 1060px){
    .modal-menu .uk-grid .uk-grid .uk-width-1-2{
        width: 100%;
    }
    .modal-menu .boxes .parent-box  .box1 ul,
    .modal-menu .boxes .parent-box2 .box2 ul,
    .modal-menu .boxes .parent-box3 .box3 ul,
    .modal-menu .boxes .parent-box4 .box4 ul,
    .modal-menu .boxes .parent-box5 .box5 ul,
    .modal-menu .boxes .parent-box6 .box6 ul{
        background: #fff;
        padding: 50px 0;
        margin: 20px 0 0 0;
    }
    .modal-menu .boxes .parent-box  .box1 ul li a,
    .modal-menu .boxes .parent-box2 .box2 ul li a,
    .modal-menu .boxes .parent-box3 .box3 ul li a,
    .modal-menu .boxes .parent-box4 .box4 ul li a,
    .modal-menu .boxes .parent-box5 .box5 ul li a,
    .modal-menu .boxes .parent-box6 .box6 ul li a{
        color: #444;
    }
    .modal-menu .boxes .parent-box  .box1:hover ul,
    .modal-menu .boxes .parent-box2 .box2:hover ul,
    .modal-menu .boxes .parent-box3 .box3:hover ul,
    .modal-menu .boxes .parent-box4 .box4:hover ul,
    .modal-menu .boxes .parent-box5 .box5:hover ul,
    .modal-menu .boxes .parent-box6 .box6:hover ul{
        display: none;
    }
    .modal-menu .boxes .parent-box  .box1,
    .modal-menu .boxes .parent-box2 .box2,
    .modal-menu .boxes .parent-box3 .box3,
    .modal-menu .boxes .parent-box4 .box4,
    .modal-menu .boxes .parent-box5 .box5,
    .modal-menu .boxes .parent-box6 .box6{
        padding: 90px 0 0 0;
    }
    .modal-menu .boxes .menu-box a{
        padding-bottom: 70px;
    }
    .modal-menu .boxes .parent-box  .box1 ul li a,
    .modal-menu .boxes .parent-box2 .box2 ul li a,
    .modal-menu .boxes .parent-box3 .box3 ul li a,
    .modal-menu .boxes .parent-box4 .box4 ul li a,
    .modal-menu .boxes .parent-box5 .box5 ul li a,
    .modal-menu .boxes .parent-box6 .box6 ul li a{
        padding-bottom: 0;
    }
    .modal-menu .boxes .parent-box  .box1:hover,
    .modal-menu .boxes .parent-box2 .box2:hover,
    .modal-menu .boxes .parent-box3 .box3:hover,
    .modal-menu .boxes .parent-box4 .box4:hover,
    .modal-menu .boxes .parent-box5 .box5:hover,
    .modal-menu .boxes .parent-box6 .box6:hover{
        padding: 90px 0 0 0;
    }
    .modal-menu{
        height: auto;
        position: static;
    }
    .modal-menu .left-bar{
        height: 100% !important;
        width: 100%;
        float: none;
    }
    .modal-menu .left-bar .close{
        width: 95px;
        float: left;
    }
    .modal-menu .left-bar .socio-bar{
        position: static;
        padding: 20px 0;
    }
    .modal-menu .left-bar .socio-bar a{
        display: inline;
        margin: 0 10px;
        float: right;
    }

    .modal-menu .uk-width-1-2{
        width: 100%;
    }
    .modal-menu .boxes .parent-box .menu-box .toggle-bottom1,
    .modal-menu .boxes .parent-box2 .menu-box .toggle-bottom2,
    .modal-menu .boxes .parent-box3 .menu-box .toggle-bottom3,
    .modal-menu .boxes .parent-box4 .menu-box .toggle-bottom4,
    .modal-menu .boxes .parent-box5 .menu-box .toggle-bottom5,
    .modal-menu .boxes .parent-box6 .menu-box .toggle-bottom6{
        display: block !important;
    }
    .modal-menu .boxes .parent-box .menu-box .box1,
    .modal-menu .boxes .parent-box .menu-box .box2,
    .modal-menu .boxes .parent-box .menu-box .box3,
    .modal-menu .boxes .parent-box .menu-box .box4,
    .modal-menu .boxes .parent-box .menu-box .box5,
    .modal-menu .boxes .parent-box .menu-box .box6{
        height: auto;
        padding: 100px 0;
    }
    .modal-menu .boxes .parent-box:hover > .box1{
        background: #3498db;
    }
    .modal-menu .boxes .parent-box2:hover > .box2{
        background: #2980b9;
    }
    .modal-menu .boxes .parent-box3:hover > .box3{
        background: #1abc9c;
    }
    .modal-menu .boxes .parent-box4:hover > .box4{
        background: #16a085;
    }
    .modal-menu .boxes .parent-box5:hover > .box5{
        background: #34495e;
    }
    .modal-menu .boxes .parent-box6:hover > .box6{
        background: #2c3e50;
    }
    .modal-menu .parent-box .box1,
    .modal-menu .parent-box2 .box2,
    .modal-menu .parent-box3 .box3,
    .modal-menu .parent-box4 .box4,
    .modal-menu .parent-box5 .box5,
    .modal-menu .parent-box6 .box6{
        height: auto !important;
        padding: 100px 0;
    }
    .modal-menu .hover-bg:hover + .hover-bg2{
        opacity: 1;
    }
    .modal-menu .boxes .parent-box ul.bubble-right:before,
    .modal-menu .boxes .parent-box2 ul.bubble-right:before,
    .modal-menu .boxes .parent-box3 ul.bubble-right:before,
    .modal-menu .boxes .parent-box4 ul.bubble-right:before,
    .modal-menu .boxes .parent-box5 ul.bubble-right:before,
    .modal-menu .boxes .parent-box6 ul.bubble-right:before{
        top: -6px;
        transform: rotate(90deg);
        left: calc(50% - 10px);
    }
    .modal-menu .form form{
        margin-top: 60px;
    }
}
@media (max-width: 600px){
    .modal-menu .uk-grid  .uk-grid .uk-width-1-2{
        width: 100%;
    }
    .modal-menu .form a{
        display: block;
        float: none;
        text-align: center;
        margin: 10px auto;
        max-width: 260px;
    }
    .modal-menu .form p a{
        display: inline-block;
        width: auto;
    }
}
@media(max-width: 500px){
    .modal-menu .uk-grid .uk-grid .uk-width-1-1{
        padding-left: 0;
    }
    .modal-menu .copyright{
        margin-top: 20px;
    }
}
@media(max-height: 730px){

    .modal-menu .copyright {
        margin-top: 30px;
    }
}
@media(max-height: 700px){
    .modal-menu .form form button{
        margin: 20px auto;
    }

}
@media(max-height: 685px){
    .modal-menu .form form label textarea{
        padding: 20px 0 0 0;
        height: 40px;
    }

}
@media(max-height: 650px){
    .modal-menu .form form label textarea{
        padding: 10px 0 0 0;
        height: 30px;
    }
    .modal-menu .form form button{
        margin: 10px auto;
    }
    .modal-menu .form form label.upload{
        margin-bottom: 5px;
    }
    .modal-menu .boxes .parent-box .box1,
    .modal-menu .boxes .parent-box2 .box2,
    .modal-menu .boxes .parent-box3 .box3,
    .modal-menu .boxes .parent-box4 .box4,
    .modal-menu .boxes .parent-box5 .box5,
    .modal-menu .boxes .parent-box6 .box6{
        padding-top: 90px;
    }
    .modal-menu .boxes .parent-box  ul,
    .modal-menu .boxes .parent-box2  ul,
    .modal-menu .boxes .parent-box3  ul,
    .modal-menu .boxes .parent-box4  ul,
    .modal-menu .boxes .parent-box5  ul,
    .modal-menu .boxes .parent-box6  ul{
        padding-top: 0;
    }
}

@media(max-height: 505px){
    .modal-menu{
        height: 100vh;
    }
    .modal-menu .left-bar{
        height: 100%;
    }
    .modal-menu .uk-grid{
        height: 100%;
    }
    .modal-menu .form form{
        margin-top: 5px;
    }
    .modal-menu .form form label textarea{
        padding: 10px 0 0 0;
        height: 30px;
    }
    .modal-menu .form form button{
        margin: 0px auto;
    }
    .modal-menu .form form label.upload{
        margin-bottom: 0;
    }
    .modal-menu .form form label:first-of-type{
        margin-bottom: 5px;
    }
    .modal-menu .form form .title h4{
        margin-bottom: 10px;
    }
    .modal-menu .copyright {
        margin-top: 30px;
    }

}




.btn{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #3d8bbd; /* layer fill content */
}

/* PAGE */
.wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page .center-page{
    width: 100%;
    height: 100%;
}
.page .header{
    height: 95px;
    padding: 24.5px 0 0 0;
    position: relative;
    z-index: 2;
}
.page .header .table, .page .header .contact .table{
    display: table;
}
.page .header .table .middle, .page .header .contact .table .middle{
    display: table-cell;
    vertical-align: top;
}
.page .header .table .middle h1 a{
    color: #fff; /* text color */
    font-size: 50px;
    border-right: 3px solid #fff;
    padding-right: 20px;
    margin-right: 20px;
    font-family: "Bold" , sans-serif;
}
.page .header .table .middle h1 a:hover{
    text-decoration: none;
}
.page .header .table .middle span{
    display: block !important;
    margin: 0;
    color: #fff; /* text color */
    font-size: 16px;
    font-family: "Light" , sans-serif;
}
.page .header .contact .table .middle span{
    display: inline-block !important;
    color: #fff; /* text color */
    font-size: 24px;
    font-family: "Bold" , sans-serif;
}
.page .header .contact{
    float: right;
}
.page .header .contact .table .middle.left{
    padding-right: 40px;
}
.page .header .contact .table .middle p a{
    color: #fff; /* text color */
    font-size: 24px;
    font-family: "Light" , sans-serif;
    border: 2px solid transparent;
    padding: 10px 15px;
    border-radius: 23px;
    display: block;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    margin-bottom: 20px;
}
.page .header .contact .table .middle p a:hover{
    text-decoration: none;
    border-color: #fff;
}
.page .header .contact .table .middle .btn.start-proiect{
    color: #fff; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 14px;
    padding: 10px 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #3d8bbd; /* layer fill content */
    -moz-box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    -webkit-box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
}
.page .header .contact .table .middle .btn.start-proiect:hover{
    text-decoration: none;
    border-color: #fff;
}
.our-slider .owl-carousel{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.our-slider .owl-carousel .item img{
    width: 100%;
    height: 100vh;
}
.our-slider .owl-carousel .item h1{
    color: #fff; /* text color */
    font-family: "Bold", sans-serif;
    font-size: 50px;
    margin-bottom: 35px;
    text-align: left;
    line-height: 1.2;
}
.our-slider .owl-carousel .item p{
    text-align: left;
    color: #fff; /* text color */
    font-size: 20px;
    font-family: "Light" , sans-serif;
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
}
.our-slider .owl-carousel .item .btn.details{
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* border radius */
    border: 2px solid #fff;
    background: #9d9d9d;
    padding: 18px 115px;
    margin: 20px 0;
    display: inline-block;
    color: #fff; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 14px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -moz-box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    -webkit-box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    z-index: 1;
    margin-left: 20px;
    margin-bottom: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.our-slider .owl-carousel .item .btn.details:hover{
    text-decoration: none;
    border-color: #3d8bbd;
}
.our-slider .owl-carousel .item .caption{
    position: absolute;
    top: 30%;
    max-width: 800px;
    width: 100%;
    left: calc(50% - 400px);
}
.owl-theme .owl-dots{
    float: left;
    position: absolute;
    bottom: 150px;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #fff;
    top: 5px !important;
    position: relative;
    background: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #3e8cbd;
    border-color: #fff;
}


@media(max-height: 672px){
    .page.home-page{
        height: 100vh;
    }
}

.footer{
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
    width: 100%;
    z-index: 2;
}
.footer .link-section a{
    display: inline-block;
    padding: 14px 38px;
    margin-right: 64px;
    color: #515151;
    position: relative;
    border: 2px solid transparent;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* border radius */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    font-family: "Medium" , sans-serif;
    font-size: 24px;
}
.footer .link-section a span{
    position: absolute;
    top: 0;
    right: 21px;
    background: #3e8cbd;
    color: #fff; /* text color */
    font-weight: 100;
    font-size: 11px;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 21px;
    text-align: left;
    padding: 0 2px;
    border: 1px solid transparent;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    text-align: center;
}
.footer .link-section a:hover span{
    border-color: #fff;
}
.footer .link-section a:hover{
    border-color: #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: #3e8cbd;
    -moz-box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    -webkit-box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    box-shadow: 0 35px 46px rgba(0,0,0,.11); /* drop shadow */
    text-decoration: none;

}
.menu a{
    display: block;
    background: #fff;
    width: 95px;
    height: 95px;
    position: absolute;
    padding: 36px 27px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 3;
}
.menu a span{
    display: block !important;
    width: 40px;
    height: 4px;
    background: #3e8cbd;
    margin-bottom: 4px;
}
.menu a:hover{
    opacity: .5;
}




@media (max-height: 585px){

}


/* CONTACT PAGE */
.footer-contact-page{
    background: #fff;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
}
.footer-contact-page .link-section a{
    color: #444;
}
.footer-contact-page .link-section a:hover{
    background: #3d8bbd;
    color: #fff;
}
.footer-contact-page .link-section a:hover span{
    background: #fff;
    border-color: #444;
    color: #444;
}
.contacts .footer{
    background: #fff;
    bottom: 0;
    position: absolute;
    padding: 20px 0;
}
.contacts .footer .link-section a{
    color: #313131 !important;
}
.contacts .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}

.contacts .page{
    height: 95px;
}

.contacts{
    background: url("../images/Layer-1.png") 0 0 no-repeat , rgba(0, 0, 0, .3);
    background-size: cover;
}
.our-contacts{
    position: relative;
    top: calc(50% - 270px);
    width: 100%;
}
.our-contacts .box{
    background-color: rgba(255,255,255, .2);
    padding: 30px 40px;
}
.our-contacts .box ul{
    padding: 0;
    list-style-type: none;
}
.our-contacts .box h5{
    font-family: "Demi" , sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}
.our-contacts .box ul li{
    margin: 4.5px 0;
}
.our-contacts .box ul li a{
    color: #fff;
    font-family: "Medium" , sans-serif;
    font-size: 17px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-contacts .box ul li a:hover{
    text-decoration: none;
}
.our-contacts .box ul li a i{
    margin-right: 10px;
}
.our-contacts .box ul li:first-of-type > a > span{
    border-bottom: 1px solid #fff;
}
.our-contacts .box ul li:first-of-type > a:hover > span{
    border-color: #3d8bbd;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-contacts .box ul li a:hover i{
    text-decoration: none;
    color: #3d8bbd;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-contacts .adress-box .title{
    padding: 0 0 50px 40px;
}
.our-contacts .adress-box .title h4{
    color: #fff;
    font-size: 40px;
    font-family: "Heavy" , sans-serif;
}
.our-contacts .form form label{
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.our-contacts .form form .title h4{
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px;
    font-family: "Heavy", sans-serif;
}
.our-contacts .form form label input , textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    color: #fff;
    font-family: "Medium", sans-serif;
    font-size: 16px;
}
.our-contacts .form form label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.our-contacts .form form label input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.our-contacts .form form label input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.our-contacts .form form label input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.our-contacts .form form label textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.our-contacts .form form label textarea::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.our-contacts .form form label textarea:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.our-contacts .form form label textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.our-contacts .form form .custom-file-input[type="file"]{
    visibility: hidden;
    width: 100%;
}
.our-contacts .form form label{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.our-contacts .form form .upload p{
    color: #fff;
    position: absolute;
    top: -10px;
    left: 50px;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-contacts .form form .upload:hover > p{
    border-color: #3d8bbd;
}
.our-contacts .form form .upload:hover > i{
    color: #3d8bbd;
}
.our-contacts .form form label i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.our-contacts .form form input[type="text"]{
    border-bottom: 1px solid #fff;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.our-contacts .form form input[type="text"]:focus{
    border-color: #3498db;
}
.our-contacts .form form label textarea{
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    height: 110px;
    padding: 90px 0 0 0;
}
.our-contacts .form form label textarea:focus{
    padding: 10px 0 0 0;
    color: #fff;
}

.our-contacts .form form label textarea:focus + span{
    border-color: #3498db;
}
.our-contacts .form form label{
    position: relative;
}
.our-contacts .form form label span{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #fff;
    margin-top: 0px;
    position: absolute;
    display: block !important;
}
.our-contacts .form form button{
    padding: 12px 66px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.our-contacts .form form button:hover{
    border-color: #fff;
}
.our-contacts .form form a {
    color: #fff;
    font-size: 16px;
    font-family: "Light", sans-serif;
    text-align: center;
    display: inline-block;
}


/* SERVICII PAGE */

.wrapper.services-page{
    height: auto;
    position: static;
    background: #fff;
}
.services-page .footer{
    background: #fff;
    margin: 0;
    position: static;
    padding: 20px 0;
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
    -webkit-box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
    box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
}
.services-page .footer .link-section a{
    color: #313131 !important;
}
.services-page .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}
.wrapper.services-page .page{
    background: none;
}
.services-page .header{
    background: #999999;
}
.footer-services-page{
    position: static;
}
.about-services{
    padding: 50px 0;
}
.about-services .left-sidebar{
    background: #3d8bbd;
    padding: 35px 0;
}
.about-services .left-sidebar .title{
    padding-left: 30px;
    margin-bottom: 25px;
}
.about-services .left-sidebar .title h4{
    color: #fff; /* text color */
    font-family: "Heavy" , sans-serif;
    font-size: 30px;
    border-bottom: 1px solid #fff;
    display: inline;
}
.about-services .left-sidebar ul li.active{
    background: #3577a1;
}
.about-services .left-sidebar ul{
    list-style-type: none;
    padding: 0;
}
.about-services .left-sidebar ul li{
    display: block;
    width: 100%;
    padding: 8px 0 10px 30px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.about-services .left-sidebar ul li:hover{
    background: #3577a1;
}
.about-services .left-sidebar ul li a{
    color: #fff;
    font-family: "Heavy" , sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    padding: 0 0 2px 0;
}
.about-services .left-sidebar ul li a:hover{
    text-decoration: none;
}
.about-services .description .title h3{
    color: #333; /* text color */
    font-family: "Heavy" , sans-serif;
    font-size: 48px;
}
.about-services .description .title span{
    width: 100%;
    height: 13px;
    background: #3e8cbd;
    margin: 25px 0;
}
.about-services .description .title p{
    text-align: center;
    color: #333; /* text color */
    font-family: "Heavy" , sans-serif;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
}
.about-services .description .more-description p{
    color: #333; /* text color */
    font-family: "Light" , sans-serif;
    font-size: 18px;
}
.about-services .description .form{
    margin-top: 60px;
}
.about-services .description .form form label{
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.about-services .description .form form .title{
    margin: 60px 0;
}
.about-services .description .form form .title h4{
    font-size: 40px;
    color: #444;
    margin-bottom: 25px;
    font-family: "Medium", sans-serif;
}
.about-services .description .form form label input , textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    color: #444;
    font-family: "Medium", sans-serif;
    font-size: 16px;
}
.about-services .description .form form label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444;
}
.about-services .description .form form label input::-moz-placeholder { /* Firefox 19+ */
    color: #444;
}
.about-services .description .form form label input:-ms-input-placeholder { /* IE 10+ */
    color: #444;
}
.about-services .description .form form label input:-moz-placeholder { /* Firefox 18- */
    color: #444;
}
.about-services .description .form form label textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444;
}
.about-services .description .form form label textarea::-moz-placeholder { /* Firefox 19+ */
    color: #444;
}
.about-services .description .form form label textarea:-ms-input-placeholder { /* IE 10+ */
    color: #444;
}
.about-services .description .form form label textarea:-moz-placeholder { /* Firefox 18- */
    color: #444;
}
.about-services .description .form form .custom-file-input[type="file"]{
    visibility: hidden;
    width: 100%;
}
.about-services .description .form form label{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.about-services .description .form form .upload p{
    color: #444;
    position: absolute;
    top: -10px;
    left: 50px;
    border-bottom: 1px dashed #444;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.about-services .description .form form .upload:hover > p{
    border-color: #3d8bbd;
}
.about-services .description .form form .upload:hover > i{
    color: #3d8bbd;
}
.about-services .description .form form label i{
    color: #444;
    font-size: 30px;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.about-services .description .form form input[type="text"]{
    border-bottom: 2px solid #444;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.about-services .description .form form input[type="text"]:focus{
    border-color: #3498db;
}
.about-services .description .form form label textarea{
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    height: 110px;
    padding: 90px 0 0 0;
    color: #444 !important;
}
.about-services .description .form form label textarea:focus{
    padding: 10px 0 0 0;
    color: #444 !important;
}

.about-services .description .form form label textarea:focus + span{
    border-color: #3498db;
}
.about-services .description .form form label{
    position: relative;
}
.about-services .description .form form label span{
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #444;
    margin-top: 0px;
    position: absolute;
    display: block !important;
}
.about-services .description .form form button{
    padding: 12px 66px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.about-services .description .form form button:hover{
    border-color: #444;
    color: #444;
}
.about-services .description .form form a {
    color: #444;
    font-size: 16px;
    font-family: "Light", sans-serif;
    text-align: center;
    display: inline-block;
}
.footer-services-page{
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
    -webkit-box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
    box-shadow: 0 -21px 46px rgba(0,0,0,.05); /* drop shadow */
}
.services-page .footer-portfolio{
    position: static;
    margin: 0;
    background: #fff;
    padding: 40px 0;
}
.footer-portfolio .link-section a{
    color: #333;
}
.footer-portfolio .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}


/* PORTFOLIO PAGE */
.portfolio .page{
    background: rgba(0,0,0, .4);
}
.portfolio .footer{
    background: #fff;
    margin: 0;
    position: static;
    padding: 20px 0;
}
.portfolio .footer .link-section a{
    color: #313131 !important;
}
.portfolio .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}
.portfolio{
    background: url("../images/portfolio-bg.jpg") 0 0 no-repeat;
    background-size: cover;
}
.portfolio .page-servicii{
    background: rgba(0,0,0, .4);
}
.portfolio .left-sidebar{
    background: #fff;
    padding: 20px 0 20px 0;
    margin: 0;
}
.our-portfolio{
    padding: 50px 0 40px 0;
    position: relative;
}
.portfolio .left-sidebar .title{
    padding-left: 30px;
    padding-top: 25px;
}
.portfolio .left-sidebar .title h4{
    color: #444; /* text color */
    font-family: "Heavy" , sans-serif;
    font-size: 30px;
    border-bottom: 1px solid #444;
    display: inline;
}
.portfolio .left-sidebar ul li.active{
    background: rgba(61,139,189, .2);
}
.portfolio .left-sidebar ul{
    list-style-type: none;
    padding: 10px 0 0 0;
}
.portfolio .left-sidebar ul li{
    display: block;
    width: 100%;
    padding: 8px 0 10px 30px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.portfolio .left-sidebar ul li:hover{
    background: rgba(61,139,189, .2);
}
.portfolio .left-sidebar ul li a{
    color: #444;
    font-family: "Heavy" , sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #444;
    padding: 0 0 2px 0;
}
.portfolio .left-sidebar ul li a:hover{
    text-decoration: none;
}
.portfolio .middle-description{
    padding: 0 5px;
}
.portfolio .middle-description .img img{
    height: 255px;
    width: 100%;
}
.portfolio .right-description .img img{
    height: 300px !important;
    width: 100%;
}
.portfolio .uk-grid .uk-grid .uk-width-medium-3-10{
    max-width: 270px;
    width: 100%;
}
.portfolio .uk-width-1-3{
    max-width: 270px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
}
.portfolio .uk-grid .uk-grid .uk-width-medium-7-10{
    max-width: 535px;
    width: 100%;
    margin-bottom: 30px;
}
.portfolio .middle-description .description{
    padding: 10px 0;
}
.portfolio .middle-description .description h4 a{
    color: #fafafa; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.2;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.portfolio .middle-description .description h4 a:hover{
    text-decoration: none;
    color: #000;
}
.portfolio .middle-description .description p{
    color: #fafafa; /* text color */
    font-family: "Light" , sans-serif;
    font-size: 18px;
}
.portfolio .right-description .description{
    background: #fff;
    padding: 20px 30px;
}
.portfolio .right-description .description h4 a{
    color: #333; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.portfolio .right-description .description h4 a:hover{
    text-decoration: none;
    color: #3d8bbd;
}
.portfolio .right-description .description p{
    color: #333; /* text color */
    font-family: "Light" , sans-serif;
    font-size: 18px;
}
.portfolio .right-description .img img{
    height: 100%;
}
.footer-portfolio{
    position: static;
    margin: 0;
    background: #fff;
    padding: 40px 0;
}
.footer-portfolio .link-section a{
    color: #333;
}
.footer-portfolio .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}
.wrapper.portfolio{
    height: auto;
    position: static;
}


/* BLOG PAGE */
.blog .page{
    background: rgba(0,0,0, .4);
}
.page.page-blog{
    background: rgba(0,0,0, .4);
}
.blog .left-sidebar{
    background: #3e8cbd;
    position: relative;
}
.portfolio .left-sidebar{
    position: relative;
}
.services-page .left-sidebar{
    position: relative;
}
.blog .left-sidebar .blog-dropdown,
.portfolio .left-sidebar .blog-dropdown,
.services-page .left-sidebar .blog-dropdown{
    position: absolute;
    top: 40px;
    right: 40px;
    display: none;
}
.portfolio .left-sidebar .blog-dropdown a{
    color: #333;
    font-size: 30px;
}
.blog .left-sidebar .blog-dropdown a,
.services-page .left-sidebar .blog-dropdown a{
    font-size: 30px;
    color: #fff;
}
.blog .sidebar2 .title {
    padding: 20px 0 20px 30px;
}
.blog .sidebar2 .title h4{
    border: none;
    color: #fff;
}
.blog .left-sidebar .title h4{
    border-color: #fff;
    color: #fff;
}
.blog .left-sidebar ul li a{
    color: #fff;
    border-color: #fff;
}
.blog .left-sidebar ul li:hover{
    background: rgba(24,54,73, .2);
}
.blog .sidebar2 input{
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 265px;
    border: none;
    background: #fff;
    border-radius: 100px;
    padding: 10px 0 10px 20px;
    color: #357ba5; /* text color */
    font-family: "Light" , sans-serif;
    font-size: 18px;
}
.blog .sidebar2 .btn{
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 21px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #3d8bbd; /* layer fill content */
    -moz-box-shadow: 0 13px 65px rgba(0,1,5,.24); /* drop shadow */
    -webkit-box-shadow: 0 13px 65px rgba(0,1,5,.24); /* drop shadow */
    box-shadow: 0 13px 65px rgba(0,1,5,.24); /* drop shadow */
    padding: 10px 0;
    max-width: 265px;
    width: 100%;
    display: block;
    margin: 10px auto;
    color: #fff; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    border: 2px solid transparent;
}
.blog .sidebar2 .btn:hover{
    background: rgba(24,54,73, .2);
    border-color: #fff;
}
.blog .img{
    position: relative;
}
.blog .date-box{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 15px;
}
.blog .date-box span{
    display: block !important;
    color: #fff;
    text-align: left;
}
.blog .date-box span.date{
    color: #fff; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 30px;
}
.blog .date-box span.moth{
    color: #fff; /* text color */
    font-family: "Bold", sans-serif;
    font-size: 14px;
}
.blog .date-box span.year{
    color: #fff; /* text color */
    font-family: "Bold" , sans-serif;
    font-size: 14px;
}
.blog .footer{
    background: #fff;
    margin: 0;
    position: static;
    padding: 20px 0;
}
.blog .footer .link-section a{
    color: #313131 !important;
}
.blog .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}



/* TESTIMONIAL */
.testimonial .left-sidebar .title h4{
    border: none;
}
.testimonial .sidebar2 .video{
    position: relative;
}
.testimonial  .sidebar2 .video i{
    position: absolute;
    top: calc(50% - 35px);
    color: #fff;
    font-size: 70px;
    left: calc(50% - 25px);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.testimonial  .sidebar2 .video i:hover{

}
.testimonial .sidebar2 .title-video{
    background: #fff;
    padding: 20px 0 20px 20px;
}
.testimonial  .sidebar2 .title-video p{
    color: #333; /* text color */
    font-family: "Medium" , sans-serif;
    font-size: 18px;
}
.testimonial .testimonial-box > .box{
    border: 1px solid #fff;
    padding: 20px 0 20px 20px;
}
.testimonial .testimonial-box > .box h5{
    font-family: "Bold" , sans-serif;
    font-size: 21px;
    color: #fff;
}
.testimonial .testimonial-box > .box p{
    color: #fff;
    font-size: 18px;
    font-family: "Medium" , sans-serif;
}
.testimonial .testimonial-box > .box .nav-button{
    float: right;
    margin-top: 100px;
}
.testimonial .testimonial-box > .box .nav-button a:hover{
    text-decoration: none;
}
.testimonial .testimonial-box > .box .nav-button img{
    margin-right: 20px;
}
.testimonial .testimonial-box .box-description{
    padding: 10px 0;
}
.testimonial .testimonial-box .box{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.testimonial .testimonial-box .box:hover{
    background: #3e8cbd;
    border-color: transparent;
}
.testimonial .testimonial-box .box-description h5{
    font-size: 21px;
    color: #fff;
    font-family: "Bold" , sans-serif;
    line-height: 1.2;
}
.testimonial .testimonial-box .box-description p{
    color: #fff; /* text color */
    font-family: "Light" , sans-serif;
    font-size: 18px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}



/* DESPRE NOI PAGE */
.despre-noi .page{
    background: rgba(0,0,0, .4);
}
.despre-noi .footer{
    background: #fff;
    margin: 0;
    position: static;
    padding: 20px 0;
}
.despre-noi .footer .link-section a{
    color: #313131 !important;
}
.despre-noi .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}
.despre-noi .about-they{
    padding: 40px 0;
}
.despre-noi .left-sidebar{
    background: #3e8cbd;
}
.despre-noi .left-sidebar .title h4{
    color: #fff;
    border: none;
}
.despre-noi .left-sidebar ul li:hover{
    background: rgba(24, 54, 73, .2);
}
.despre-noi .left-sidebar ul li a{
    color: #fff;
    border-color: #fff;
}
.despre-noi .about-they .description-box h3{
    color: #fff;
    font-size: 48px;
    line-height: 1;
    font-family: "Bold" , sans-serif;
}
.despre-noi .about-they .description-box p{
    font-size: 24px;
    font-family: "Medium" , sans-serif;
    color: #fff;
    line-height: 1;
}
.despre-noi .about-they .owl-carousel{
    position: relative;
    margin: 0 !important;
    display: block;
}
.despre-noi .about-they .our-slider2 img{
    max-height: 518px;
    height: 100%;
    width: 100%;
}
.despre-noi .about-they .owl-theme .owl-nav{
    position: absolute;
    top: 20px;
    right: -140px;
}
.despre-noi .about-they .owl-theme .owl-nav .owl-prev i{
    font-size: 30px;
}
.despre-noi .about-they .owl-theme .owl-nav .owl-next i{
    font-size: 30px;
}
.despre-noi .about-they .owl-theme .owl-nav .owl-next ,
.despre-noi .about-they .owl-theme .owl-nav .owl-prev{
    background: none;
}
.despre-noi .about-they .description-slide{
    position: relative;
    height: 100%;
}
.despre-noi .about-they .resize-slider{
    width: 75%;
}
.despre-noi .about-they .resize-box{
    width: 25%;
}
.despre-noi .about-they .description-slide .slide-box-description{
    background: rgba(255,255,255, .7);
    padding: 30px 34px;
    width: 100%;
    max-width: 280px;
    position: absolute;
    top: 23%;
    left: -100px;
    z-index: 1;
}
.despre-noi .about-they .description-slide .slide-box-description h4{
    font-size: 30px;
    font-family: "Bold" , sans-serif;
    color: #3e8cbd;
    line-height: 1;
}
.despre-noi .about-they .description-slide .slide-box-description p{
    color: #3e8cbd;
    font-size: 18px;
    font-family: "Light" , sans-serif;
}
.despre-noi .about-they .call-them a{
    padding: 15px 126px;
    font-size: 16px;
    font-family: "Bold" , sans-serif;
    color: #fff;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #3d8bbd; /* layer fill content */
    -moz-box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    -webkit-box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    box-shadow: 0 15px 42px rgba(0,0,0,.09); /* drop shadow */
    border: 2px solid transparent;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.despre-noi .about-they .call-them a:hover{
    text-decoration: none;
    border-color: #fff;

}
.despre-noi .about-they .post-box .description{
    background: #fff;
    padding: 20px;
}
.despre-noi .about-they .post-box h4 a{
    color: #333;
    font-family: "Bold" , sans-serif;
    font-size: 24px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.despre-noi .about-they .post-box h4 a:hover{
    text-decoration: none;
    color: #3d8bbd;
}
.despre-noi .about-they .box h4 a{
    font-family: "Bold" , sans-serif;
    font-size: 24px;
    color: #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.despre-noi .about-they .box .img img{
    height: 100%;
}
.despre-noi .about-they .box h4 a:hover{
    color: #333;
    text-decoration: none;
}
.despre-noi .about-they .box .description{
    padding: 10px 0;
}
.despre-noi .about-they .box  p{
    color: #fff;
    font-size: 18px;
    font-family: "Light" , sans-serif;
}


/* TEAM PAGE */
.our-team .page{
    background: #fff;
    height: 95px;
}
@media (max-height: 600px){
    .our-team .my-slider img{
        height: 100% !important;
    }
}
.our-team .my-slider{
    max-width: 100%;
    width: 100%;
    margin-top: -95px;
    height: 100%;
    position: relative;
    z-index: 1;
}
.our-team .my-slider .my-Slides img{
    width: 100%;
    height: 85vh;
}
.our-team .my-slider .dots{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
}
.our-team .my-slider .slider-nav{
    position: absolute;
    top: calc(50% - 100px);
    width: 100%;
}
.our-team .my-slider .slider-nav .prev{
    position: absolute;
    left: 9%;
}
.our-team .my-slider .slider-nav .next{
    position: absolute;
    right: 9%;
}
.our-team .my-slider .slider-nav .prev ,
.our-team .my-slider .slider-nav .next{
    border: none;
    background: none;
}
.our-team .my-slider .slider-nav .prev img,
.our-team .my-slider .slider-nav .next img{
    height: auto;
}
.our-team .my-slider .dots .dot{
    display: inline-block !important;
    max-width: 196px;
    position: relative;
    max-height: 150px !important;
}
.our-team .my-slider .dots .dot img{
    max-width: 200px;
    max-height: 150px;
    height: 100%;
}
.our-team .my-slider .description{
    background: url("../images/Rectangle-15.png") 100% 0  no-repeat;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 400px);
    max-width: 480px;
    width: 100%;
    padding: 30px 90px 30px 0;
}
.our-team .my-slider .description h3{
    font-family: "Bold" , sans-serif;
    font-size: 48px;
    color: #fff;
    margin: 18px 0;
}
.our-team .my-slider .description h4{
    margin: 0;
    color: #fff;
    font-family: "Medium" , sans-serif;
    font-size: 24px;
}
.our-team .my-slider .description p{
    font-family: "Light" , sans-serif;
    color: #fff;
}
.our-team .header{
    position: relative;
    z-index: 2;
}
.our-team .menu{
    z-index: 99;
    position: relative;
}
.our-team .footer {
    position: absolute;
    background: #fff;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 2;
}
.our-team .footer a{
    color: #333;
}
.our-team .footer a:hover{
    background: #3d8bbd;
    color: #fff;
}



/* PROIECT PAGE */
.proiect .footer{
    background: #fff;
    margin: 0;
    position: static;
    padding: 20px 0;
}
.proiect .footer .link-section a{
    color: #313131 !important;
}
.proiect .footer .link-section a:hover{
    background: #3e8cbd;
    color: #fff;
}
.proiect{
    background: transparent;
}
.proiect .header{
    background: url("../images/Layer-1-2.png") 0 0 no-repeat,
    url("../images/Rectangle-16.png") 0 0;
    /*padding-bottom: 70px;*/
    background-size: cover;
    /*padding-top: 0;*/
    height: auto;
}
.uk-h1, h1{
    margin: 0;
}
.page .header .contact .table .middle.left p{
    margin: 0;
}
.proiect .top-bg{
    background: url("../images/header-bg-top.png") 0 0 no-repeat;
    background-size: 100% 100%;
    height: 95px;
    padding: 24.5px 0 0 0;
}
.proiect .proiect-content{
    padding: 200px 0;
}
.proiect .header .header-content{
    padding: 100px 0 0;
    position: relative;
    margin-top: 90px;
}
.proiect .header .header-content h2{
    font-size: 75px;
    font-family: "Heavy" , sans-serif;
    color: #fff;
    line-height: 1.1;
    text-align: center;
}
.proiect .header .header-content p{
    font-family: "Heavy" , sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    margin: 30px 0;
}
.proiect .proiect-content{
    padding: 115px 0;
    background: #fff;
}
.proiect .proiect-content .title{
    padding: 0 170px;
}
.proiect .proiect-content .title p{
    font-size: 30px;
    font-family: "Heavy" , sans-serif;
    color: #3e8cbd;
    line-height: 1;
    text-align: center;
}
.proiect .proiect-content .box{
    margin-top: 50px !important;
}
.proiect .proiect-content .progress-bar span{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #3e8cbd;
    font-family: "Heavy" , sans-serif;
    font-size: 20px;
}

.proiect .proiect-content #box ,
.proiect .proiect-content #box2 ,
.proiect .proiect-content #box3{
    width: 175px;
    height: 175px;
    position: relative;
    margin: 0 auto;
}
.proiect .proiect-content2{
    background: url("../images/portfolio-bg.jpg")0 0 no-repeat;
    padding-bottom: 0;
    background-size: cover;
}
.proiect .proiect-content2 .title h3{
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-family: "Heavy" , sans-serif;
    margin-bottom: 50px;
}
.proiect .proiect-content2 .title p{
    color: #fff;
    font-family: "Heavy" , sans-serif;
    font-size: 18px;
}
.proiect .proiect-content2 #container1{
    max-height: 600px;
    margin-top: 50px;
}
.proiect .proiect-content3{
    padding: 490px 0;
    background:  url("../images/SCREENS.png") 50% 50% no-repeat , #407eb0;
    background-size: cover;
    -webkit-box-shadow: -1px -9px 49px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px -9px 49px -15px rgba(0,0,0,1);
    box-shadow: -1px -9px 111px -15px rgba(0,0,0,1);
    position: relative;
    z-index: 1;
}
.proiect .proiect-content3 .btn{
    padding: 60px 115px;
    font-family: "Bold" , sans-serif;
    font-size: 50px;
    color: #3d8bbd;
    background: #fff;
    border-radius: 100px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.proiect .proiect-content3 .btn:hover{
    text-decoration: none;
    -webkit-box-shadow: 0px 38px 168px -34px rgba(255,255,255,1);
    -moz-box-shadow: 0px 38px 168px -34px rgba(255,255,255,1);
    box-shadow: 0px 38px 168px -34px rgba(255,255,255,1);
}
.proiect .other-proiects{
    background: #333;
    padding: 50px 0;
}
.proiect .other-proiects .title h4{
    text-align: center;
    font-family: "Bold" , sans-serif;
    font-size: 30px;
    color: #fff;
}
.proiect .other-proiects .box{
    margin-top: 30px;
}
.proiect .other-proiects .box .description{
    padding: 15px 0;
}
.proiect .other-proiects .box .description h5 a{
    font-size: 22px;
    color: #fff;
    font-family: "Bold" , sans-serif;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.proiect .other-proiects .box .description h5 a:hover{
    color: #3d8bbd;
    text-decoration: none;
}
.proiect .other-proiects .box .description p{
    font-family: "Light" , sans-serif;
    font-size: 18px;
    color: #fff;
}
.proiect .form{
    max-width: 470px !important;
    margin: 0 auto;
}
.proiect .form form label{
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.proiect .form form .title{
    max-width: 470px;
    margin: 0 auto;
}
.proiect .form form .title h4{
    font-size: 30px;
    color: #fff;
    margin-bottom: 45px;
    font-family: "Medium", sans-serif;
}
.proiect .form form label input , textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    color: #fff !important;
    font-family: "Medium", sans-serif;
    font-size: 16px;
}
.proiect .form form label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.proiect .form form label input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.proiect .form form label input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.proiect .form form label input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.proiect .form form label textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.proiect .form form label textarea::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.proiect .form form label textarea:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.proiect .form form label textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.proiect .form form .custom-file-input[type="file"]{
    visibility: hidden;
    width: 100%;
}
.proiect .form form label{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.proiect .form form .upload p{
    color: #fff;
    position: absolute;
    top: -10px;
    left: 50px;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.proiect .form form .upload:hover > p{
    border-color: #3d8bbd;
}
.proiect .form form .upload:hover > i{
    color: #3d8bbd;
}
.proiect .form form label i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.proiect .form form{
    margin-top: 16%;
}
.proiect .form form input[type="text"]{
    border-bottom: 1px solid #fff;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.proiect .form form input[type="text"]:focus{
    border-color: #3498db;
}
.proiect .form form label textarea{
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    height: 110px;
    padding: 90px 0 0 0;
}
.proiect .form form label textarea:focus{
    padding: 10px 0 0 0;
    color: #fff;
}

.proiect .form form label textarea:focus + span{
    border-color: #3498db;
}
.proiect .form form label{
    position: relative;
}
.proiect .form form label span{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #fff;
    margin-top: 0px;
    position: absolute;
    display: block !important;
}
.proiect .form form button{
    padding: 12px 66px;
    margin: 50px auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "Medium" , sans-serif;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.proiect .form form button:hover{
    border-color: #fff;
}

@media(min-width: 1600px) and (max-width: 2000px){
    .modal-menu .form form{
        margin-top: 60px;
    }
}
@media(min-width: 2001px) and (max-width: 2400px){
    .modal-menu .form form{
        margin-top: 160px;
    }
}
@media(min-width: 2401px) and (max-width: 2800px){
    .modal-menu .form form{
        margin-top: 260px;
    }
}


/* MEDIA QUERY INDEX PAGE */
@media (max-width: 1335px){
    .page .header .uk-grid{
        padding-left: 150px;
    }
    .page .header .uk-grid .uk-width-1-2{
        width: auto;
    }
}
@media (max-width: 1225px){
    .page .header .uk-grid{
        padding-left: 100px;
    }
    .page .header .uk-grid .uk-width-1-2{
        width: auto;
    }
    .page .slider{
        margin-top: 50px;
    }
    .despre-noi .about-they .uk-width-medium-7-10{
        max-width: 100%;
        width: 100%;
    }
    .despre-noi .about-they .uk-width-medium-3-10{
        max-width: 100%;
        width: 100%;
    }
    .despre-noi .about-they .description-slide .slide-box-description{
        position: relative;
        display: none;
    }
    .despre-noi .about-they .owl-theme .owl-nav{
        position: absolute;
        top: calc(50% - 35px);
        left: 0;
        right: 0;
    }
    .despre-noi .about-they .owl-theme .owl-nav .owl-prev,
    .despre-noi .about-they .owl-theme .owl-nav .owl-next{
        width: 50px;
        height: 50px;
        background: #3d8bbd;
        border-radius: 100px;
        padding: 11px 5px 0 0;
    }
    .despre-noi .about-they .owl-theme .owl-nav .owl-prev{
        left: 40px;
        position: absolute;
    }
    .despre-noi .about-they .owl-theme .owl-nav .owl-next{
        right: 40px;
        position: absolute;
        padding: 11px 0 0 5px;
    }
    .despre-noi .left-sidebar{
        margin-bottom: 30px;
    }
    .our-contacts .box ul li a{
        font-size: 12px;
    }
}
@media(max-width: 1195px){
    .our-team .my-slider .description{
        position: absolute;
        top: 50%;
        margin-top: -100px;
        left: 50%;
        margin-left: -250px;
    }
    .our-team .my-slider{
        margin-bottom: 90px;
    }
    .our-team .my-slider .slider-nav{
        top: 50%;
    }
    .our-team .my-slider .dots{
        display: none;
    }
    .wrapper.our-team .footer{
        position: relative;
        margin-top: -95px;
    }
}
@media (max-width: 1150px){
    .contacts{
        height: 100%;
        position: static;
    }
    .footer-contact-page{
        position: relative;
    }
    .contacts .our-contacts .uk-width-1-2{
        width: 100%;
        margin: 15px 0;
    }
    .page .our-contacts .adress-box .title{
        padding: 0;
    }
    .page .our-contacts .adress-box .title h4{
        text-align: center;
    }
    .page .our-contacts ul{
        text-align: center;
    }
    .portfolio .uk-grid .uk-grid .uk-width-medium-3-10{
        max-width: 100%;
    }
    .portfolio .uk-grid .uk-grid .uk-width-medium-7-10{
        max-width: 100%;
    }
    .portfolio .uk-width-1-3{
        max-width: 100%;
    }
    .our-contacts .box ul li{
        margin: 10px 0;
    }
    .our-contacts .box ul li a{
        font-size: 14px;
    }
    .our-contacts .form-box{
        margin-top: 40px;
    }
    .contacts .footer{
        position: relative;
    }
    .contacts .our-contacts .box{
        text-align: center;
    }
    .our-contacts .box ul li a {
        font-size: 18px;
    }
    .contacts .page{
        height: auto;
    }

}
@media (max-width: 1015px){
    .our-team .header{
        background: #333;
        padding: 15.5px 0;
    }
    .our-team{
        height: 100%;
        position: static;
    }
    .header{
        height: auto !important;
    }
    .home .header{
        padding-bottom: 40px;
    }
    .our-team .footer{
        position: static;
        margin-top: -10px;
    }
    .our-team .our-slider2{
        position: relative !important;
        z-index: 999999;
        margin-top: 220px;
    }
    .our-team .our-slider2 .slider-nav{
        margin-top: 30px;
    }
}
@media (max-width: 1005px){
    .wrapper{
        height: auto;
        position: static;
    }
    .page .header .uk-grid .uk-width-1-2{
        width: 100%;
    }
    .page .header .table, .page .header .contact .table{
        margin: 0 auto;
    }
    .page .header .contact{
        float: none;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    .page .footer{
        position: relative;
        margin-top: 71px;
        padding: 30px 0;
    }
    .our-team .page .footer{
        margin-top: 0;
    }
}
@media (max-width: 990px){
    .owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .page{
        background-size: cover;
    }
    .modal-menu{
        height: 100%;
    }
    .modal-menu .form form{
        margin-top: 30px;
    }
    .modal-menu .form form label textarea{
        height: 60px;
        padding: 35px 0 0 0;
    }
    .modal-menu .form form button{
        margin: 20px auto 40px auto;
    }
    .modal-menu a.call{
        display: block;
    }
    .modal-menu a.adress{
        display: block !important;
        text-align: center;
        margin: 10px 0;
    }
    .modal-menu a.mail{
        display: block;
        margin: 10px 0;
    }
    .modal-menu a.all-contact{
        float: none;
        text-align: center;
        display: block;
        max-width: 130px;
        margin: 10px auto;
    }
    .modal-menu .form form label span{
        display: block !important;
    }
    .modal-menu .uk-grid .uk-grid .uk-width-1-2{
        padding-left: 0;
    }
    .modal-menu .copyright{
        margin: 50px 0;
    }
    .modal-menu .copyright .uk-width-1-1{
        padding: 0;
    }

}
@media (max-width: 970px){
    .page .footer .link-section a{
        margin: 0;
    }
    .page .header .uk-grid{
        padding-left: 0;
    }
     .despre-noi  .uk-width-1-2{
        width: 100%;
         margin: 20px 0;
    }
     .despre-noi .post-box .img img{
         width: 100%;
     }
}
@media (max-width: 920px){
    .uk-width-medium-3-10{
        width: 100%;
    }
    .blog .left-sidebar .blog-dropdown,
    .portfolio .left-sidebar .blog-dropdown,
    .services-page .left-sidebar .blog-dropdown{
        display: block;
    }
    .testimonial .left-sidebar ul{
        display: block !important;
    }
    .despre-noi .left-sidebar ul{
        display: block !important;
    }
    .testimonial .sidebar2 .video img{
        width: 100%;
    }
    .blog .left-sidebar ul,
    .portfolio .left-sidebar ul,
    .services-page .left-sidebar ul{
        display: none;
    }
    .services-page .header{
        padding-bottom: 50px;
    }
    .blog .uk-width-medium-7-10{
        width: 100%;
        margin-top: 30px;
    }
    .portfolio .middle-description{
        padding: 0;
    }
    .footer .link-section a{
        margin: 0;
    }
    .our-portfolio .uk-width-medium-3-10{
        margin-bottom: 30px;
    }
    .our-portfolio .uk-width-medium-7-10{
        width: 100%;
    }
    .services-page .uk-width-medium-7-10{
        width: 100%;
        margin-top: 40px;
    }
    .about-services .description .title h3{
        text-align: center;
    }
    .our-team .my-slider .description{
        background-position: 0 0;
    }
    .our-team .my-slider .description h3{
        text-align: center;
    }
    .our-team .my-slider .description h4{
        text-align: center;
    }
    .our-team .my-slider .description p{
        padding: 0 10px;
        text-align: center;
    }
    .our-team .my-slider .description{
        left: 50%;
        margin-left: -180px;
    }
    .our-team .my-slider .slider-nav{
        top: 50%;
        margin-top: 30px;
    }
    .our-team .header{
        padding-bottom: 50px;
    }
    .uk-open .uk-modal-dialog{
        top: 10%;
    }
    .our-slider .owl-carousel .item .caption{
        max-width: 500px;
        left: 50%;
        margin-left: -250px;
        text-align: center;
    }
    .our-slider .owl-carousel .item .caption p{
        text-align: center;
    }
    .our-slider .owl-carousel .item .caption h1{
        text-align: center;
    }



}
@media (max-width: 730px){
    .home .header {
        position: relative;
        background: #000;
    }
    .our-slider .owl-carousel{
        position: relative;
    }
    .home .footer{
        background: #fff;
        position: relative;
    }
    .footer .link-section a{
        display: block;
        background: #3d8bbd;
        max-width: 300px;
        margin: 30px auto;
        color: #fff;
    }
    .page .footer .link-section a,
    .portfolio .footer .link-section a{
        display: block;
        background: #3d8bbd;
        max-width: 300px;
        margin: 30px auto;
        color: #fff;
    }
    .page .footer .link-section a span,
    .portfolio .footer .link-section a span{
        background: #fff;
        color: #3d8bbd;
    }
    .proiect .proiect-content .title{
        padding: 0;
    }
    .proiect .proiect-content .uk-width-1-3{
        width: 100%;
    }
    .proiect .header .header-content h2{
        font-size: 20px;
    }
    .proiect .header .header-content p{
        font-size: 16px;
    }
    .proiect .header .header-content{
        padding-top: 0;
    }
    .proiect .proiect-content3{
        padding: 200px 0;
    }
    .proiect .proiect-content3 .btn{
        padding: 30px 50px;
        font-size: 20px;
    }
    .proiect .other-proiects .box .img img{
        width: 100%;
    }
    .our-team .my-slider .description{
        top: 50%;
        margin-top: -10px;
        max-width: 250px;
        padding: 20px 10px;
        left: 50%;
        margin-left: -110px;
    }
    .our-team .my-slider .description p{
        display: none;
    }
    .wrapper.our-team .our-slider2{
        margin-bottom: 110px;
    }
    .home .our-slider .caption{
        display: none;
    }
    .home .our-slider .uk-container{
        padding: 0;
    }
    .home .our-slider .item img{
        height: auto;
    }


}
@media (max-width: 550px){
    .page .header .uk-grid{
        margin-top: 120px;
    }
    .page .our-contacts .adress-box .title{
        margin: 30px 0;
    }
    .portfolio .page-servicii{
        padding-bottom: 50px;
    }
    .our-team .my-slider .my-Slides img{
        height: auto;
    }
    .our-team .my-slider{
        position: relative;
        margin: 0;
    }

}
@media (max-width: 490px){
    .modal-menu .uk-width-1-10{
        padding: 0;
    }
    .page .header .table{
        display: block;
    }
    .page .header .table .middle{
        display: block;
        text-align: center;
        padding: 0;
    }
    .page .header .table .middle h1 a{
        margin-right: 0;
        border-right: none;
        border-bottom: 3px solid #fff;
        text-align: center;
        display: block;
        padding: 10px 0;
    }
    .proiect .header .header-content{
        padding: 200px 0 0;
    }
    .page .footer{
        margin-top: 30px;
    }
    .page .header .contact .table{
        display: block;
    }
    .page .header .contact .table .middle{
        display: block;
        text-align: center;
    }
    .page .header .contact .table .middle.left{
        padding: 0;
    }
    .modal-menu .parent-box .box1 .btn-more,
    .modal-menu .parent-box2 .box2 .btn-more,
    .modal-menu .parent-box3 .box3 .btn-more,
    .modal-menu .parent-box4 .box4 .btn-more,
    .modal-menu .parent-box5 .box5 .btn-more,
    .modal-menu .parent-box6 .box6 .btn-more{
        margin: 50px auto;
    }
    .modal-menu .boxes .menu-box{
        padding-bottom: 50px;
    }
    .modal-menu .uk-width-medium-4-10{
        padding: 0;
    }
    .modal-menu .form form label{
        width: 80%;
    }
    .modal-menu .form form label.no-pointer{
        cursor: auto;
    }
    .modal-menu .form form button{
        margin: 50px auto;
    }
    .modal-menu .contacts-box a{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .modal-menu a.all-contact{
        margin: 20px auto;
        border: 2px solid #3d8bbd;
        border-radius: 100px;
        padding: 10px;
        float: none;
    }
    .modal-menu .uk-grid{
        margin-left: 0;
    }
    .our-contacts .form form .title h4{
        line-height: 1;
        font-size: 25px;
        text-align: center;
    }
    .despre-noi .about-they .call-them a{
        padding: 10px 50px;
    }
    .our-team .my-slider .description{
        left: 25%;
        margin-left: 0;
        display: none;
    }
    .our-team .my-slider .slider-nav{
        top: 50%;
        margin-top: -15px;
    }
}


@media(max-height: 692px){
    .our-contacts .form form label textarea{
        height: 40px;
        padding: 20px 0 0 0;
    }
    .owl-theme .owl-dots{
        bottom: 90px;
    }
    .our-slider .owl-carousel .item .caption{
        margin-top: -40px;
    }
    .our-slider .owl-carousel .item .caption h1{
        font-size: 25px;
        margin: 0;
    }
}
@media (max-height: 562px) {
    .wrapper {
        position: static;
        height: 100%;
    }
    .our-team .footer{
        position: relative;
        margin-top: -125px;
    }
    .wrapper .page.home-page .footer {
        position: relative;
        bottom: -80px;
        margin-bottom: 20px;
    }

    .footer-contact-page {
        padding: 20px 0;
    }

}


.success-response {
    font-size: 19px;
    color: #76c676;
    text-align: center;
}

.content{
    background: #3e8cbd;
    padding: 30px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
}
.content .description-content p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}