
@font-face {
  font-family: 'FuturaPT-BookObl';
  src: url('FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),  url('FuturaPT-BookObl.otf')  format('opentype'),
	     url('FuturaPT-BookObl.woff') format('woff'), url('FuturaPT-BookObl.ttf')  format('truetype'), url('FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
  font-weight: normal;
  font-style: normal;
}
